[2018-06-09 07:26] ajayns opened #1 "Limit max length of numInputs"
Current plan is to restrict it to 10

[2018-06-09 07:26] ajayns opened #2 "Improve accessibility"
Ensure that we follow WAI-ARIA guidelines specifications and have the correct aria attributes.

[2018-06-09 07:27] ajayns opened #3 "Support for classnames"
Idea is to include props for passing in class names to the components input and container. This would allow styling through plain CSS

[2018-06-12 05:29] ajayns opened #4 "Improve API reference table"
https://i.imgur.com/jXVOsIP.png
Was suggested to improve readability at one glance

[2018-06-12 12:24] #4 closed

[2018-07-19 10:00] #3 closed

[2018-10-04 07:56] sreenath124 opened #6 "Restrict Entering inputs other than numbers."
Hi,
How to restrict entering inputs other than numbers?

[2018-10-04 08:41] ajayns commented on #6
I'm not sure I got you right, but you want to restrict input to only numbers?

Right now this was built thinking of all the different kinds of OTPs which could include alphanumeric characters. But yes this could be an optional feature enabled by a prop.

Will try to work on it when I get the time, but right now PRs are welcome :)

[2018-10-04 08:49] sreenath124 commented on #6
Yes. Thank you.

[2018-12-28 05:49] Nikitakhanna92 opened #7 "Clear inputs"
There should be a way to clear inputs as after resend I'm not able to clear inputs

[2019-01-02 05:32] ajayns commented on #7
Agreed! Will be adding this feature soon but we'd also appreciate PRs :)

[2019-01-19 12:30] kunalmhatre opened #10 "Changing from uncontrolled input to controlled"
Hey, nice work - really appreciate it. Currently, I am using React - React-DOM 16.6.0 and after I enter the first digit, following **warning** is shown in the console.

_A component is changing an uncontrolled input of type tel to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the

[2019-01-19 13:17] kunalmhatre commented on #10
Hi again, here is something that can help: https://stackoverflow.com/questions/37427508/react-changing-an-uncontrolled-input

[2019-01-21 08:50] ajayns commented on #10
Thank you for the feedback and noticing this, I will certainly look into it.

[2019-01-21 10:06] #10 closed

[2019-01-21 10:23] ajayns commented on #7
This functionality to change the internal value of the OTP would require the whole component pattern to be changed from uncontrolled to controlled input pattern. Will have to do research on best implementation if we're trying to cause any breaking changes.

[2019-01-21 13:11] kunalmhatre commented on #10
Hey, thanks a lot for the fix. 👍

[2019-01-21 18:49] ajayns commented on #10
You're welcome. Thanks for opening the issue! :)

[2019-02-02 23:31] KhamatdinovRT commented on #7
Will PR this feature soon

[2019-02-06 21:48] KhamatdinovRT commented on #7
@ajayns I think `value` prop should be like `Array<string>`. And it could be passed to onChange handler same way `Array<string>`. It can be easily converted to string outside of component like value.join(''), for example. Are ok with such API?

[2019-02-08 13:24] kunalmhatre opened #14 "Addition of autofocus prop"
**Describe the Feature Request**

Hi again, I request you to add autofocus prop to the component, depending on which the autofocus HTML attribute will be set on the first input box.

**Why?**
For better user accessibility after initial render.

[2019-02-22 12:31] kprocks86 opened #15 "Error in main code templete"
![screen shot 2019-02-22 at 5 53 34 pm](https://user-images.githubusercontent.com/23704560/53242641-58590200-36cb-11e9-8d92-f3c31ad6bbd2.png)

where `separator={<span>-<span>}`
has to be `separator={<span>-</span>}`
just close the span

[2019-02-26 06:40] ajayns commented on #15
Thank you! I have noticed the issue and fixed it in the readme.

[2019-02-26 06:40] #15 closed

[2019-02-26 06:45] ajayns commented on #7
Apologies for the late reply. Developers just require the text/code in the input, it's a very rare scenario that they require the code split into an Array. Considering this and to keep the API/usage as simple as possible I'd recommend handling it as an Array internally while exposing just the string with the component API.

Also do note error handling would be required in the case `numInputs` and

[2019-03-07 09:54] KowsalyaPK opened #17 "onFocus and onBlur functionalities"
- **Describe the Feature Request**
onFocus, onBlur, onInput are all default functionalities of any input, why not provide them here

[2019-03-08 07:12] KowsalyaPK opened #18 "event.keycode on keyboardEvent is deprecated"
event.keycode on keyboardEvent is deprecated, why not use both event.keycode and event.key to support old and new modern browsers on keydown

[2019-04-04 07:54] prashantbaid opened #19 "inputStyle prop does not accept class names"
It is mentioned in the readme, but inputStyle does not accept class names. I am passing class name as a string to inputStyle but the class doesn't get applied to input.

[2019-04-08 09:29] Nikitakhanna92 commented on #7
is there any update on this?

[2019-04-13 09:00] ajayns commented on #18
Sure! We'd appreciate PRs :)

[2019-04-13 09:02] ajayns commented on #17
Multiple inputs are used for this particular component, so how exactly do you propose these event handlers work? We'll need to consider all cases from empty, to partially filled to fully filled inputs

[2019-04-19 17:41] demedos opened #20 "Inserting the same number should trigger next input focus"
- **Steps to reproduce the issue**:
Write some number on the inputs
Click on an input an type the same value it has

- **Expected**:
The focus jumps to the next input

- **Actual behaviour**:
The focus remains on the same input

**Example**:
[code]

[2019-04-21 09:52] ajayns commented on #19
Fixed in v0.3.2.
Thank you for opening the issue! :)

[2019-04-21 09:53] #19 closed

[2019-04-24 12:35] prashantbaid opened #21 "when input type is number maxLength=1 attribute is ignored"
We can enter more than 1 number in an input field when input type is number.

I think the issue is maxLength=1 does not work for `<inputType=number>`.
Reference - https://stackoverflow.com/questions/18510845/maxlength-ignored-for-input-type-number-in-chrome

[2019-05-13 07:34] ajayns commented on #21
Nice catch. I've added manual checking and so the issue should be resolved in the latest version. Please do check and let me know!

[2019-05-13 10:09] rb162215 opened #22 "Keypad opening closing issue"
I am facing Keypad opening closing issue issue while typing the number in following browser with respective platform -

Opera--> Iphone, Ipad

UC browser -> Iphone

When user type OTP in above browser then after enter first char of OTP keypaid down, to enter second char of OTP user need to click on input field.

Any solution of above problem.

[2019-06-05 08:25] wxqee commented on #7
Got a temporary solution here, just set props `key={renderTime}` and reset value by `this.setState({ renderTime: Date.now() })` can cause a new instance of OTP on UI. Wish some help.

[2019-06-22 11:11] #18 closed

[2019-06-22 11:11] ajayns commented on #7
Resolved with #23

[2019-06-22 11:11] #7 closed

[2019-06-28 09:01] brianpooe opened #24 "Allow developer to specify from which input field should the separator be set"
- **Describe the Feature Request**
I want to insert the separator only after the third input. example 123 - 456

[2019-07-07 19:41] blueberry6401 opened #25 "Wrong way to handle digits OTP"
When isInputNum = true, it should treat the input as string instead of number, because the OTP might start with '0'.

[2019-07-07 19:42] blueberry6401 opened #26 "Uncontrolled component doesn't work"
Uncontrolled component doesn't work. I just copied the code example in README.

[2019-07-08 04:28] ajayns commented on #26
Oh we'd recently shifted to making the component controlled but might have missed the update to readme. On it!

[2019-07-08 04:34] #26 closed

[2019-07-08 04:36] ajayns commented on #26
Updated example

[2019-07-16 10:40] ManojBahuguna commented on #25
https://github.com/devfolioco/react-otp-input/blob/9931449eb8c582a7d3a6530b4d12fff09a816cbc/src/lib/index.jsx#L142

don't think parsing to number is required here..

[2019-08-14 05:15] IamDhana commented on #25
If otpType is number I am not able to type a number starting with 0. Ex 0123, 0345

[2019-08-14 11:15] shivaMohan1995 opened #29 "isInputNum accepting "+,-,e" and back space is not working when this characters entered"
When  isInputNum  is used the input accepts `+`, `-`, `e` and when they are entered `backspace` doesn't clear the input.

[2019-08-28 14:08] joao-arvins commented on #29
This PR should fix the issue: https://github.com/devfolioco/react-otp-input/pull/30

[2019-09-04 10:56] joao-arvins opened #31 "isInputNumber - blank value when setting zero as inputs initial value"
**Steps to reproduce the issue**:
- input 0 in the first input - input will become empty instead if having the value '0'
- this will happen for all inputs being set after one of the input values gets updated to something other than zero
- if you try to update one value from 1-9 to 0 then some strange behaviour will hapen (one of the inputs will get blank, not necessarily the one being updated)

![

[2019-09-04 15:25] joao-arvins commented on #31
This PR should fix the issue: #30

[2019-10-02 08:43] rahulmalhotra commented on #2
Hey @apollonian I would like to work on that. Can you provide a little more description about the issue ?

[2019-10-02 08:43] rahulmalhotra commented on #2
Hey @apollonian I would like to work on that. Can you provide a little more description about the issue and assign it to me ?

[2019-10-02 10:23] apollonian commented on #2
Yes please @rahulmalhotra!

The component currently renders a number of `input` elements (specified via `numInputs` prop with the default being *4*). While I believe these inputs can be navigated by keyboard, the component lacks any aria-* attributes for screen readers or other assistive tech. For e.g. I think it would be good if we add an `aria-describedby` or `aria-label` prop to the component w

[2019-10-02 10:44] apollonian commented on #21
Since we've added `min` and `max` attributes to the inputs (when isInputNum is set) with #23 I'm closing the issue. :)

[2019-10-02 10:44] #21 closed

[2019-10-02 12:37] rahulmalhotra commented on #2
Thanks..!! I am working on the same :-)

[2019-10-02 16:33] rahulmalhotra commented on #2
Hey @apollonian and @ajayns I am planning to add input value to aria-label and type of input to the aria-describedBy like below:-

Is there any specific value you want to suggest ?

[2019-10-02 16:34] rahulmalhotra commented on #2
Hey @apollonian and @ajayns I am planning to add input value to aria-label and type of input to the aria-describedBy like below:-

Is there any specific value you want to suggest ?

[2019-10-02 16:35] rahulmalhotra commented on #2
Hey @apollonian and @ajayns I am planning to add input value to aria-label and type of input to the aria-describedby like below:-

Is there any specific value you want to suggest ?

[2019-10-02 23:59] rimildeyjsr commented on #20
@ajayns @apollonian - Can I work on this?

[2019-10-03 00:02] rimildeyjsr commented on #14
@ajayns @apollonian - Can I work on this?

[2019-10-03 01:15] blenderskool commented on #20
@demedos Can I work on this? 🙂

[2019-10-03 04:07] ojaswa1942 commented on #1
Do you also plan to enforce a minimum number of numInputs?

[2019-10-03 04:36] ojaswa1942 opened #35 "Migrate to Hooks"
The code presently uses class components & lifecycle methods.
However, React 16.8.0 release introduces a more intuitive & functional approach towards development which is more likely to be used in the future.

**Steps to resolve the issue**:
  Replace Class and Class-based methods (state, lifecycle, PureComponent etc.) to functional approach (useState, useEffect, memo, etc.)

[2019-10-03 06:02] vikas-parashar commented on #2
@rahulmalhotra `aria-describedby` wouldn't work the way you have commented. This attributes needs to refer to an `id` present somewhere in the markup.

example:
[code]

and with `input` fields `aria-labelledby` is more suitable which works the same as described above.

[2019-10-03 06:09] rahulmalhotra commented on #2
I think in that case, adding an aria-label will be fine. Waiting for the confirmation on this @apollonian

[2019-10-03 06:32] V1shvesh commented on #35
May I pick this issue up?

[2019-10-03 06:47] apollonian commented on #2
@rahulmalhotra Yep! Also, `aria-label` could be a prop that you pass to the component (in the snippet I see that it is `value`) and is applied to the wrapper. And we'll add `aria-labelledby` to inputs as @vikas-parashar mentioned. I think that would be a approach.

[2019-10-03 06:49] apollonian commented on #20
Please go ahead @blenderskool!

[2019-10-03 06:51] apollonian commented on #14
Yes please @rimildeyjsr! ✌️

[2019-10-03 06:53] apollonian commented on #35
This sounds amazing. ✨
Please go ahead @V1shvesh!

[2019-10-03 06:55] ajayns commented on #1
@ojaswa1942 Hey! As of now, we haven't exactly planned what the limits should be. So it would be great if you could share the logic behind setting a particular limit as well. :)

[2019-10-03 07:16] apollonian opened #36 "Improvements to the demo/documentation site (Move to Storybook or docz)"
Right now we use a custom built site (https://devfolioco.github.io/react-otp-input/) for demo-ing the component. Although, it is fairly primitive and lacks features such as a prop table, etc.

We could use docz (https://www.docz.site/) or Storybook (https://storybook.js.org) for the same. While I really like the fact that docz is minimal (and supports TypeScript out of the box), Storybook has a la

[2019-10-03 09:13] rahulmalhotra commented on #2
Got that. But is there any specific value that I should use for `aria-label` and `aria-labelledby` ? I am using `{value}` currently for `aria-label` and there's nothing I have thought yet for `aria-labelledby`

[2019-10-03 09:16] apollonian commented on #2
@rahulmalhotra We'll add them as props for the component itself.

[2019-10-03 09:22] utkarsh22garg opened #38 "OTP input taking spacebar(' ') as input"
- OTP is taking spacebar as input

 OTP is a number. So it can't have inputs like spacebars. So the input **spacebar** should be ignored for this.

![issue-open-source](https://user-images.githubusercontent.com/31355903/66114733-1b53d700-e5ed-11e9-8d75-17072acd310c.PNG)

[2019-10-03 10:34] anikethsaha commented on #36
I would like to work on this 👍

[2019-10-03 11:02] rahulmalhotra commented on #2
Okay. Cool. I'll update that soon.

[2019-10-03 12:30] blenderskool commented on #38
@apollonian I can work on this bug

[2019-10-03 13:44] apollonian commented on #36
Sure, please go ahead @anikethsaha!

[2019-10-03 15:40] shivamkainth commented on #36
@apollonian Can I work on this as well ?

[2019-10-03 16:01] Parikshit-Hooda opened #45 "fix License"
- **Steps to reproduce the issue**:

- **Relevant error messages and/or screenshots**:
The license contains a line which says that the copyright is of year 2018 and I think this should be fixed to start from date of software inception to till the software/repo exists. A PR to include 2019 has been raised for now but this needs a permanent solution and hence, this issue.

[2019-10-03 16:03] Parikshit-Hooda commented on #45
Please merge the PR beforehand as its opened as part of devfolioco hacktoberfest.

[2019-10-03 16:54] ojaswa1942 commented on #1
Presently we can also pass 0 and negative values to numInputs and that results in a no input fields at all.. It'd be good if a minimum default is rendered for invalid values of numInputs. The same can be done for high values of numInputs and a default maximum number, say 10 can be used instead

![Screenshot for numInputs = 0](https://user-images.githubusercontent.com/35270649/66147361-53c6d580-e62

[2019-10-03 17:27] robintom opened #47 "Demo site : Otp input boxes overflow and numInputs takes in negative values"
- **Steps to reproduce the issue**:

In the demo site , when the numInputs value is high the container overflows to sidebar. And the numInputs input box takes in negative values.

- **Relevant error messages and/or screenshots**:

![before-overflow](https://user-images.githubusercontent.com/31811117/66149646-27618800-e631-11e9-80c8-2c2ac3dfe128.png)

![numinputs-negativeValue](https://user-images.

[2019-10-03 17:28] robintom commented on #47
#46

[2019-10-03 18:03] anikethsaha commented on #36
@shivamkainth ,I am currently adding `docz` in this, so I guess we can work on the components docs then .
what do you think !?

[2019-10-03 18:27] apollonian commented on #36
Hey @shivamkainth! Like @anikethsaha mentioned in the previous comment, once docz is all set-up we could work on adding the component playground and other info.

[2019-10-03 18:56] Rishabh510 opened #49 "Get OTP enabled even if all numbers are not input"
- **Steps to reproduce the issue**:
In the demo site, when isInputNum is true, clicking either of the arrows enables the Get OTP button.

- **Relevant error messages and/or screenshots**:
**Before** clicking arrow
![image](https://user-images.githubusercontent.com/42823059/66155246-d2c40a00-e63c-11e9-83bf-3ae97e857a93.png)
**After** clicking arrow, the Get OTP button gets enabled.
![image](https:/

[2019-10-03 19:04] V1shvesh commented on #35
Hey @apollonian! It seems to me that the file `src/lib/index.jsx` uses TSX, but the file extension doesn't reflect that fact. Is there any reason behind this?

[2019-10-03 19:07] Rishabh510 opened #50 "Letter accepted even if isInputNum is true"
- **Steps to reproduce the issue**:
In the demo site, when isInputNum is true, still you can enter unlimited amount of the letter 'e' in the boxes. Clear button doesn't work after that.

- **Relevant error messages and/or screenshots**:
![image](https://user-images.githubusercontent.com/42823059/66156195-d35da000-e63e-11e9-85d2-ed6f95cd2a5d.png)

[2019-10-03 19:08] Rishabh510 commented on #49
Get OTP gets enabled even if you enter a single number.
![image](https://user-images.githubusercontent.com/42823059/66156423-3fd89f00-e63f-11e9-9990-64163eabc8bb.png)

[2019-10-03 19:12] apollonian commented on #35
We don't use TypeScript although we've added annotations for Flow.

https://github.com/devfolioco/react-otp-input/blob/master/src/lib/index.jsx#L1

[2019-10-03 19:33] V1shvesh commented on #35
Got it! I tried configuring Flow for VS Code, but I am getting this error:
[code]

The latest version of Flow: 0.109.0, no idea about the backward-compatibility.

[2019-10-03 19:38] apollonian commented on #35
Hmm, looks like we'll have to upgrade it.

[2019-10-03 19:42] V1shvesh commented on #35
Alright then, I'll do that as well :+1:

[2019-10-03 19:49] apollonian commented on #47
Fixed with PR #46
Thanks, @robintom!

[2019-10-03 19:49] #47 closed

[2019-10-04 04:15] Gilbishkosma commented on #49
@apollonian , i will work on this issue.

[2019-10-04 04:33] xitter commented on #50
I would like to like to take this up.

[2019-10-04 04:56] robintom commented on #50
This is how the [HTML Spec](https://html.spec.whatwg.org/multipage/input.html#number-state-(type%3Dnumber)) says it works. So for our instance since the input box accepts numbers which includes floating point numbers the Demo site field would accept all these : "e", ".", "+", "-" and not just "e" as this issue suggests.

I think what we could do is sanitize the input in the library itself, using a

[2019-10-04 06:50] apollonian commented on #49
Sure, @Gilbishkosma!

[2019-10-04 06:54] apollonian commented on #50
@robintom Got it. I see that there are a fixes suggested in a couple of open PRs (Including one that implements a regexp testing).

[2019-10-04 07:48] xitter opened #53 "Setup unit tests"
- **Describe the Feature Request**
Add unit tests
![First time complitation](https://user-images.githubusercontent.com/8026722/66189913-7bf41a00-e6a8-11e9-8bc5-f5975e9e808d.gif)

- **Describe Preferred Solution**
I would prefer having https://github.com/testing-library/react-testing-library instead of enzyme here, see [post](https://medium.com/@boyney123/my-experience-moving-from-enzyme-to-react-t

[2019-10-04 08:40] apollonian commented on #53
react-testing-library is what I was thinking as well to begin with. 👍

[2019-10-04 10:23] xitter commented on #53
Awesome, I will work on this.

[2019-10-04 19:07] V1shvesh commented on #35
Hey @apollonian!

So I kinda did a complete re-haul of the whole file, and I had to install `@types/react` for React type definitions. I am almost done with the refactor and will post a PR soon!

[2019-10-04 19:12] V1shvesh commented on #35
https://github.com/devfolioco/react-otp-input/blob/bb387f608499a84676632690a8d8dc1c51d13a5a/src/lib/index.jsx#L105

Was 'tel' supposed to be 'text'?

[2019-10-04 19:31] apollonian commented on #35
Awesome, looking forward to it. This reminds that we should also update the prop table in the README.

[2019-10-04 19:35] V1shvesh commented on #35
Wow, I completely missed that table! You're right, that should reflect the finalized default props.

[2019-10-05 12:45] Parikshit-Hooda commented on #45
@ajayns @kbardi

[2019-10-05 15:07] rimildeyjsr commented on #14
@apollonian @ajayns - Hey I need some help with the issue, I need to add an autofocus prop (according to the issue) to the component, but isn't `shouldAutoFocus` doing the exact thing? If it is, then this issue is redundant.

Am I missing something here? Need some clarification 😅

[2019-10-06 02:55] jddeep opened #61 "Update License section in Readme file."
Update License section in Readme file.

- **Steps to reproduce the issue**:

Currently, under the 'License' section it is simply written MIT. This can be reformed into a correct structure for License showcasing like other substantial projects.

- **Relevant error messages and/or screenshots**:

Check the current Readme file.

[2019-10-06 02:57] jddeep commented on #61
@apollonian @nashvail Can I work on this?

[2019-10-06 10:50] Buyantogtokh commented on #53
@xitter how's your test going? I also would like to work on this issue @apollonian.

[2019-10-06 14:13] xitter commented on #53
I will be soon raising a PR for unit test setup, you are welcome to add more tests once it gets merged.

[2019-10-06 18:56] Snaked06 commented on #49
If you would allow @apollonian @Gilbishkosma i would love to work on this issue

[2019-10-07 04:01] saisrinivaspaila opened #64 "Clear button is clearing the OTP even when isdisabled is activated."
- **Describe the Feature Request**
When isdiabled is activated we cannot change any values to the OTP. But since the clear button is not disabled we can easily manipulate the OTP. So we need to disable the Clear button
- **Describe Preferred Solution**
I had made a New PR which disabled that button

[2019-10-07 04:12] saisrinivaspaila commented on #64
**[Disable Clear if isDisable is activated](https://github.com/devfolioco/react-otp-input/pull/63)** clears the issue

[2019-10-07 08:40] nikhilgupta30 commented on #1
this pull request restricts the length of numInput
https://github.com/devfolioco/react-otp-input/pull/66
@ajayns

[2019-10-07 10:56] itaditya opened #67 "Add visual regression tests to ensure it keeps working properly"
- **Describe the Feature Request**
Add visual regression tests to ensure it keeps working properly using jest and jest-image-snapshot.

[2019-10-07 10:57] itaditya commented on #67
If this is needed, I'd be happy to work on it.

[2019-10-09 01:14] AviKKi opened #69 "Make demo site responsive"
- **Describe the Feature Request**
Currently the website looks like this on mobile devices
![Screenshot_20191009-064150](https://user-images.githubusercontent.com/34864662/66444232-10230000-ea60-11e9-9e44-8ceceaac6369.png)

- **Describe Preferred Solution**
The left bar should appear on the top and otp component below it, on small devices.

I would love to work on it, assign it to me.

[2019-10-09 09:45] shreyvijayvargiya opened #71 "First Input is not accepting zero as value"
- **Describe the Feature Request**

- **Describe Preferred Solution**
The First Input element in OTP input is not accepting the zero as a number. Rest all the remaining input takes zero.

[2019-10-09 17:08] arvind0598 commented on #71
Works for me on the demo site. I'm able to put 0 anywhere I want to.

[2019-10-09 19:02] Critchkn commented on #69
Hey there,

I'd like to take a crack at this if it is available still

[2019-10-10 05:23] raghavpatnecha commented on #71
You need to take num as `'' + value;`

[2019-10-11 04:46] aesher9o1 commented on #24
Is this thread active/ needed?

[2019-10-12 03:18] nestoralonso commented on #17
I may have a proposal for this on https://github.com/devfolioco/react-otp-input/pull/75

[2019-10-16 11:34] vishalpolley opened #81 "Issues with isInputNum field enabled"
- **Describe the Feature Request**
There are couple of issues coming up on enabling the `isInputNum` checkbox field -
  - `value` field accepting inputs other than number.
  - `otp` field accepting character values.
  - zero value is not accepted on `otp` field

- **Describe Preferred Solution**
  - The preferred solution for issues 1 and 2 is to restrict the values other than numbers as the `hand

[2019-10-16 12:12] vishalpolley opened #83 "Firefox - OTP field showing arrow keys on isInputNum field enabled"
- **Describe the Feature Request**
  - OTP input field is currently showing not necessary up-down arrow keys on isInputNum field checked in Firefox browser.
  - Currently on clicking these up-down keys the focus and value is changed to next input field.
Browser - Firefox 69.0
![Peek 2019-10-16 17-41](https://user-images.githubusercontent.com/20622980/66918132-4b16cc00-f03c-11e9-81c5-5ef2d38424a5.g

[2019-10-16 18:15] vishalpolley opened #85 "Firefox - numInputs field accepting character inputs"
- **Describe the Feature Request**
  - `numInputs` currently also accepting values other than integer values in firefox browser.

  Browser - Firefox 69.0
  ![Peek 2019-10-16 23-40](https://user-images.githubusercontent.com/20622980/66946416-803c1200-f06e-11e9-8686-7b0c2872d169.gif)

- **Describe Preferred Solution**
  - The preferred solution for this issue is to restrict the values other than nu

[2019-10-18 05:57] devcer commented on #81
Hi, Can I take this up and work on this?

[2019-10-19 14:07] apollonian commented on #38
Fixed with #42!
We'll push a fix for this in the upcoming release.
Thanks.

[2019-10-19 17:03] utkarsh22garg commented on #38
@apollonian Happy to hear that 😊

[2019-10-19 17:03] #38 closed

[2019-10-22 05:41] RGKrish183 commented on #71
@raghavpatnecha give me proper examples, i have also facing this issue,.. my code is below

[code]

Thanks,
GopalaKrishnan.R

[2019-10-24 08:01] vishalsureify commented on #81
Hi @devcer the issue has been resolved in the PR #82
Thanks!

[2019-10-31 13:50] #69 closed

[2019-10-31 13:52] apollonian commented on #69
Thanks for reporting it!
@AviKKi, @Critchkn The issue is now fixed with #88.

[2019-11-04 05:24] #83 closed

[2019-11-04 05:30] apollonian commented on #64
Merged the aforementioned PR, hence closing the issue.
Thanks again, @saisrinivaspaila.
✨

[2019-11-04 05:30] #64 closed

[2019-11-05 11:07] binodgope30 commented on #20
i am also facing same issue with the current version

[2019-11-18 12:50] aleksandrmaksimoviclt opened #96 "Add custom prop for test tools/libraries able select react-otp-input inputs"
- **Describe the Feature Request**
Add custom prop for test tools/libraries able select react-otp-input component inputs
- **Describe Preferred Solution**
We write:
`<OtpInput numInputs={6} testProp="testprop-" />`
We then able to select inputs programatically in preferred test tools/libraries:
`testprop-1` - first input
`testprop-2` - second input
`testprop-3` - third input
`testprop-4` - fourth

[2019-12-20 05:14] RhyG opened #97 "Allow choice of input type"
Currently the default input type is type="tel" and cannot be changed. When using the OTP input on mobile this renders it almost unusable as users can not enter letters, only digits.

[2020-01-09 05:42] kbardi commented on #45
I'm not an admin, I just made a fork, so I think I shouldn't update copyright

[2020-01-10 12:06] sanjeetiitr commented on #97
I am also facing the same issue. I am not able to in input alphanumeric character from my phone.

[2020-02-06 19:24] luccasmaso commented on #20
Waiting for this release also

[2020-02-07 09:08] CaptainT33mo opened #98 "Add or expose key press or key down event"
- **Describe the Feature Request**
I want to use the OTP input field without a form and want a key down or keypress event to track the `Enter Key` so that I can submit the value when the enter key is pressed.
- **Describe Preferred Solution**
[code]

[2020-02-13 09:27] NinhNM opened #99 "How to clear Otp?"
- **Describe the Feature Request**
I have read document, but i don't make clear Otp when input error?

- **Describe Preferred Solution**

[2020-02-13 09:32] #99 closed

[2020-02-13 17:30] iamaamir commented on #98
same here

[2020-02-14 10:05] srikanthpathlavath opened #100 "When we click on the backspace button, the cursor is going back to the previous element, but it should stay in the current element position only."
When we click on the backspace button, the cursor is going back to the previous element, but it should stay in the current element position only. how to achieve this ?
- **Steps to reproduce the issue**:

- **Relevant error messages and/or screenshots**:

[2020-02-29 22:51] robbiehanson commented on #71
I'm also seeing this same problem on the demo site.

Steps to reproduce:
- Go to demo site
- Put a checkmark in the box for `isInputNum `
- Attempt to put a zero in the first field

[2020-04-01 07:16] Ananya-96 commented on #22
Hi, is there an update on this issue. Facing the same problem.

[2020-04-12 04:04] jpacora commented on #97
Same issue here

[2020-04-21 14:48] Nikitakhanna92 commented on #7
to do this ....
you can make a seperate component like this . and import   'react-otp-input' . use super.render to access the component props.This works ::::

import React, { Component } from 'react';
import Otp from 'react-otp-input';

class OtpComponent extends Otp{

    componentWillReceiveProps(nextProps){
       if(nextProps && this.props && nextProps.reset && this.props.reset!==nextProps.res

[2020-04-29 07:00] Praneeth543 commented on #31
is this merged in the latest version  ?

[2020-04-29 07:02] Praneeth543 commented on #29
is this issue solved and merged in the latest version?

[2020-04-29 12:14] RahulShahUI commented on #29
this issue is still there. can we have any solution or suggestions for other module?

[2020-05-04 11:33] gauravkk22 commented on #71
I am also facing the same issue. i am not able to take zero in my first input??

[2020-05-25 09:12] RahulShahUI opened #102 "Accessibility issue"
how can I add a label in relation with input element? it's giving below error while checking ADA compliance.

![image](https://user-images.githubusercontent.com/38944466/82798115-bc054880-9e95-11ea-9f19-d0e62b3856cd.png)

[2020-06-09 17:29] prograk commented on #71
It's because isInputNum is set to true if you change to String it works but than it accepts all other value.

I did a work around where I kept isInputNum to false and checked if input is not number replace it with blank space than it accepts 0 as first character but again another issue comes in i.e cursor goes to next box.

[2020-07-01 13:55] basantmatharu opened #104 "Is this repo not being maintained anymore?"
I see that the last commit was in November 2019 and there are so many open pull requests.
I'm wondering if it's a good idea to invest in this repo or just write my own OTP component.

[2020-07-04 11:32] apollonian commented on #49
The issue is now fixed with #73. Thank you for bringing it to notice @Rishabh510.

[2020-07-04 11:32] #49 closed

[2020-07-04 14:37] #20 closed

[2020-07-06 14:35] apollonian commented on #104
@basantmatharu I'm going through the current issues and planning to resolve most of the core ones. Releasing an update tomorrow! Check out the alpha on https://roi2.surge.sh

[2020-07-06 14:46] apollonian commented on #45
I've updated the copyright now so going ahead to close the issue.

[2020-07-06 14:46] #45 closed

[2020-07-06 18:03] #25 closed

[2020-07-06 18:03] #29 closed

[2020-07-06 18:03] #50 closed

[2020-07-06 18:03] #71 closed

[2020-07-06 18:03] #81 closed

[2020-07-06 18:03] #85 closed

[2020-07-06 18:03] #97 closed

[2020-07-06 18:20] apollonian commented on #31
@joao-arvins, @Praneeth543 this is now fixed with [2.0.0](https://github.com/devfolioco/react-otp-input/releases/tag/v2.0.0)
Please upgrade/retest and let me know if you still notice it.

[2020-07-06 18:20] #31 closed

[2020-07-06 18:21] apollonian commented on #104
Just released an [upgrade](https://github.com/devfolioco/react-otp-input/releases/tag/v2.0.0)! (And, therefore closing the issue). Do give a check. :v:

[2020-07-06 18:21] #104 closed

[2020-07-06 18:26] apollonian commented on #22
@rb162215, @Ananya-96 Let me know if you are still facing issues with the keypad.

[2020-07-06 18:41] apollonian commented on #61
@jddeep 🤔 I'm not exactly sure what you mean by correct structure in the README. We do have a LICENSE file in the repo and the same is accompanied with the release on npm.

[2020-07-09 08:39] #61 closed

[2020-07-09 08:40] akashnimare commented on #61
@jddeep thanks for reporting this. I pushed a fix in https://github.com/devfolioco/react-otp-input/commit/449ab76c883111bf6656f86f9363a32d358fa85c.

[2020-07-27 11:41] TheSayantan96 opened #110 "Otp Input is not Showing"
- **Describe the Feature Request**
When I am typing inside the OTP inputs nothing is showing even after the inputStyle color set to black
- **Describe Preferred Solution**

[2020-07-27 11:45] apollonian commented on #110
Hey @TheSayantan96

Could you please add some information (e.g. browser / device info. / screen recording / additional logs you're getting in the console) to the issue so that I can try to reproduce this? A CodeSandbox link to you implementation would be helpful too. Thanks.

[2020-08-03 13:50] Superitum commented on #110
Hi @apollonian I'm experiencing the same issue. I installed react-otp-input and used some of the samples to test. When a number or other charater is entered the cursor moves to the next input but nothing is displayed.
Dev environment: VS Code

[2020-08-03 14:38] apollonian commented on #110
@Superitum Thanks for reporting. I'll recheck on Windows. Are you able to run [the demo](https://devfolioco.github.io/react-otp-input/)?

[2020-08-03 15:34] Superitum commented on #110
Demo works fine. Tested code on Win 10 as well, same issue.
Could be the code.. I created a component which is then included in the App

Component code
`import React, { Component } from 'react';
import OtpInput from 'react-otp-input';

class otps extends Component {
    state = {
        otp: '',
      };

    handleChange = otp => {
        this.setState({ otp });
    };

    render() {
        r

[2020-08-03 15:38] Superitum commented on #110
code seems to not display correctly in the comment above. see images.
![image](https://user-images.githubusercontent.com/18702675/89200198-f5ea7d80-d5af-11ea-9750-0c6ce75be51a.png)
![image](https://user-images.githubusercontent.com/18702675/89200270-0a2e7a80-d5b0-11ea-8730-3284f0c2d95c.png)

[2020-08-03 17:02] pcphatweb commented on #110
Hey everybody

I have the same problem as @TheSayantan96
@apollonian Do you think the problem was in the virtual DOM of ReactJS?

[2020-08-03 17:11] apollonian commented on #110
@Superitum I don't see the `value` prop being passed to `OtpInput` which is likely causing this issue (`value={top}`). The component no longer works as uncontrolled. Sorry, If the demo code has this error, I'll fix it. cc @pcphatweb

[2020-08-03 17:31] Superitum commented on #110
@apollonian Thank you that was the missing piece of the puzzle!

[2020-08-03 17:58] #110 closed

[2020-08-03 18:01] apollonian commented on #110
Thanks @Superitum. I've updated the [sample code](https://github.com/devfolioco/react-otp-input#basic-usage) and [CodeSandbox](https://codesandbox.io/s/react-otp-input-demo-v2-1iy52).

@TheSayantan96 I'm assuming you had the issue because of the erroneous sample code. Please reopen the issue if you think it's 'cause of something else.

[2020-08-03 18:16] TheSayantan96 commented on #110
@apollonian Can you please give a demo using setState?

[2020-08-03 18:34] apollonian commented on #110
@TheSayantan96 `this.setState` can only be called on a class component. `OtpVerifyForm` here is a "functional" component so it does not have a `this.setState` (no `this`, nor a constructor, no render() method unlike the "class" component) which explains the error.

The second item returned by `useState` (`setOTP`) is a function to update the state value (OTP) itself so we can further pass it along

[2020-08-07 10:47] umidghimire opened #113 "autoComplete Issue"
- **Steps to reproduce the issue**:
While coping OTP from iOS Safari keyboard only the first number gets pasted.

- **Relevant error messages and/or screenshots**:
![Screenshot (66)](https://user-images.githubusercontent.com/20983780/89638398-75878d80-d8cb-11ea-9d82-6670fecb2a56.png)
![Screenshot (68)](https://user-images.githubusercontent.com/20983780/89638419-7c160500-d8cb-11ea-901f-acb16dd8e04c

[2020-08-10 05:41] apollonian commented on #113
This would certainly be a desirable feature addition!

[2020-08-19 06:42] cloudchallengers opened #115 "Masking input characters"
- **Describe the Feature Request**

Sometimes users need to enter secret OTP's in financial applications and they don't want them to be revealed to nearby users, so it's a kind of must have feature to be able to mask the input characters.

- **Describe Preferred Solution**

We can expose an attribute in API called 'secure' with the default value as false, and can make use of this prop to decide us

[2020-08-19 14:22] robinmehra95 commented on #14
We need functionality to focus on the first element. Let's say we encountered an error and we want to erase the value and focus to the first box of the otp input

[2020-08-20 05:47] Brahmrshi opened #116 "After passing isInputNum props true still accepting character values e."
After passing the isInputNum true still, the input takes the character "e" is entered in the input.

`<OtpInput
              value={this.state.otp}
              onChange={(e) => {
                this.setState({ otp: e });
              }}
              numInputs={4}
              hasErrored={true}
              separator={<span>-</span>}
              isInputNum={true}
            />`

[2020-08-20 06:11] apollonian commented on #116
Hey @Brahmrshi!

Could you please add some information (e.g. browser / device info. / additional logs you're getting in the console) to the issue so that I can try to reproduce this?

[2020-08-20 06:59] Brahmrshi commented on #116
@apollonian

I am using chrome browser for testing. and  I think I forgot to update the package. After the update package, I am not facing this issue. But the "e" character is still visible in the input filed. Here is the screenshot of that. The code that I am using is  this.
`  <OtpInput
              value={this.state.otp}
              onChange={this.handleChange}
              numInputs={4}

[2020-08-20 06:59] #116 closed

[2020-08-20 07:00] apollonian commented on #116
@Brahmrshi I see! That doesn't look right, though. Which OS are you using?

[2020-08-20 07:31] Brahmrshi commented on #116
@apollonian  Windows 10 os

[2020-08-29 06:26] NadirBakhsh opened #117 "Placeholder missing as a props"
- **Describe the Feature Request**
I am creating otp Screen in my React Web Application. i want to show 'O' as a placeholder But it's Props is missing
see the image  what i am want

![image](https://user-images.githubusercontent.com/46098938/91630367-57084400-e9ea-11ea-9535-2cb76f86fbfc.png)

- **Describe Preferred Solution**
we need to Pass placeholder Props from component where we using

[2020-09-03 06:41] kumarsandeep91 commented on #98
Same here

[2020-09-04 06:59] ibash commented on #98
workaround: wrap the component in a div and put a keydown handler on that

[2020-09-04 11:13] CaptainT33mo commented on #98
@ibash that workaround works well. Also, you can do the same thing by putting that component inside a form and listening to the onSubmit event of the form, which is what I did in my project.

[2020-09-22 02:31] freshlySqueezedBananas commented on #115
+1

[2020-09-28 11:27] anoopmsivadas commented on #115
I would like to work on this

[2020-09-29 11:16] anoopmsivadas commented on #115
@apollonian can you assign me on this

[2020-09-29 11:18] apollonian commented on #115
@anoopmsivadas Sure! Could use your help with this.

[2020-09-29 11:23] anoopmsivadas commented on #115
Thanks! expect a PR on October 1st. :grinning:

[2020-09-29 17:57] apollonian commented on #67
Oh, sorry, I missed this.
It would be extremely helpful to have regression tests!

[2020-09-29 17:59] #1 closed

[2020-09-29 18:02] apollonian commented on #22
v2 came with fixes for this issue. Feel free to reopen if the closing behaviour still persists!

[2020-09-29 18:02] #22 closed

[2020-09-30 09:57] preeti-droom opened #118 "how to remove inline width from input"
- **Steps to reproduce the issue**:

- **Relevant error messages and/or screenshots**:

[2020-09-30 14:16] apollonian commented on #118
@preeti-droom You may override it by using the `inputStyle` prop.

[2020-09-30 15:20] g-ravity commented on #98
Hi, is this issue up for grabs? Then I would like to work on it.

[2020-09-30 16:13] aromalanil commented on #117
I would like to work on this issue.

[2020-09-30 18:23] aromalanil commented on #102
@apollonian
I would like to work on this issue.

What I am planning to do is
- Wrap each input with a label with value `OTP Character no:${i}`
- Using `visuallyhidden` to hide the label for common users.

Please respond so I can work on this 😊

[2020-09-30 19:19] zemse commented on #113
I'd like to give a shot to this.

[2020-09-30 22:14] ibash commented on #98
Do it!

[2020-10-01 04:01] g-ravity commented on #98
Okay, I'll start working on it.

[2020-10-01 04:45] dewanshrawat15 commented on #113
@apollonian I would like to work on this issue.

[2020-10-01 05:06] preeti-droom commented on #118
But i don't want to override the width using '!important' in css, if any other solution then let me know

[2020-10-01 05:38] apollonian commented on #113
@dewanshrawat15 Sure!

[2020-10-01 06:15] dewanshrawat15 opened #121 "The input fields do not change while copy pasting an OTP"
- **Steps to reproduce the issue**:
- Copy a 3 - 4 digit number.
- Visit the [React OTP Input website](https://devfolioco.github.io/react-otp-input/)
- Paste the 3 - 4 digit number.
- The focus would still be on the first field, whereas it should change to the latest updated field.

- **Relevant error messages and/or screenshots**:
![Screenshot 2020-10-01 at 11 44 55 AM](https://user-images.github

[2020-10-01 06:43] Ajaykumbhare opened #122 "Allow clear value from specific textbox"
### Issue

When I am trying to remove value from nth textbox then I need to reEnter value in each textbox.
For example, I am trying to add my OTP input as 1-2-3-4 but when I am trying to clear the value from 2nd textbox then textbox value becomes 1-3-4-(empty).

### Solution

It will be good if we allow removing specific textbox values like 1-2-3-4 and if users want to clear value from 2nd textbox

[2020-10-01 06:45] dewanshrawat15 commented on #113
@apollonian Please check #121 too.

[2020-10-01 08:05] ankiiitraj commented on #53
This issue will help be getting started with unit testing, I want to work on it!

[2020-10-01 08:07] ankiiitraj commented on #36
Can be closed?

[2020-10-01 08:19] ankiiitraj commented on #100
Like to work on it!

[2020-10-01 09:29] apollonian commented on #53
@ankiiitraj Sure, we could use your help!

[2020-10-01 10:38] sparkingdark commented on #96
can you tell elaborately like is it for testing purpose?

[2020-10-01 11:29] gagandeepp commented on #14
Is it open,I can work on this

[2020-10-01 13:12] KaustubhDamania opened #127 "Changing the numInputs doesn't change the OTP"
- **Steps to reproduce the issue**:
  - Visit [the website](https://devfolioco.github.io/react-otp-input/)
  - Enter a code of `n` digits
  - Change `numInputs` on left sidebar to a lower value.
  - Click on `Get OTP` button
  - The old OTP would be displayed

- **Relevant error messages and/or screenshots**:

5 digit OTP:

![image](https://user-images.githubusercontent.com/33577657/94813382-85c47

[2020-10-01 13:12] KaustubhDamania commented on #127
I'd like to work on this issue.

[2020-10-01 14:28] borntofrappe commented on #102
Good morning.

Looking at the code for the [live demo](https://devfolioco.github.io/react-otp-input/), I'd say the issue could be fixed by adding a label to the four input elements describing the verification code. This can be done in a few ways:

- include a `<label>` element, but hide it with CSS

- add an `aria-label` attribute to the `<input>` element, with a string similar to "Verification co

[2020-10-01 14:41] apollonian commented on #102
This approach sounds good to me too, @borntofrappe!
Do keep in mind that the value could also be any valid character when isInputNum is set as false for the label.

[2020-10-01 14:48] borntofrappe commented on #102
If it can be a character as well, is it better to use a more general label, "Verification code alphanumeric character", or use `isInputNum` to distinguish between "digit" and "character"?

[2020-10-01 15:28] borntofrappe commented on #102
I realized the question was less than important, and since the tone of the general label was quite too technical, I decided to use `isInputNum` boolean instead.

[2020-10-01 15:49] adithyaakrishna commented on #100
Hi @apollonian , Can I work on this issue?

[2020-10-01 15:50] adithyaakrishna commented on #67
If this is available, would be happy to work on this :)

[2020-10-01 16:24] Kuljeet-123 commented on #24
@brianpooe can I work on this issue??

[2020-10-01 16:29] brianpooe commented on #24
@Kuljeet-123 yes please.

[2020-10-01 17:17] agarwalBinay18 commented on #100
can I work on this issue?

[2020-10-01 17:28] apollonian commented on #122
@Ajaykumbhare This does sound like an improvement over the current behaviour.
#100 hints at fixing the same value/focus shift so I believe we should definitely try to improve it!

[2020-10-01 17:52] nirmalhk7 opened #131 "Feature: Automatically submit when all characters are entered"
- **Describe the Feature Request**
Instead of only providing user the option to enter the entire OTP and then click the "Get OTP" button, why dont we provide the user with an prop like **whenEntered**. "whenEntered" will be false by default, but if user sets it to true, he needn't click the "Get OTP" button on entering the OTP: the callback function is automatically executed.

- **Describe Preferr

[2020-10-01 17:56] nirmalhk7 commented on #131
I'd love to be working on this issue myself, please let me know if the idea is worthy of merging into this repo. Thanks!

[2020-10-01 18:12] Ayush7-BIT commented on #115
Hey! I like to work on this issue..

[2020-10-01 18:14] mohammadmujib commented on #131
Good Idea

[2020-10-01 18:54] CadencePrestissimo commented on #14
if its open ,  i would like to work on it

[2020-10-01 19:59] manjots1607 opened #139 "Undo Feature using ctrl + Z shortcut"
- **Feature Description**
     Currently,  if we press **ctrl+z** nothing happens, in every text input we have this feature, especially come handy when we
     paste wrong otp..

- **Preferred Solution**
     - Needed to create  Globale undo Stack to store all values.
     1. Create keydown event for **ctrl + z**, that pop out element from undostack and set new value.
     2. Code contains method

[2020-10-01 20:25] apollonian commented on #131
@nirmalhk7 I'm not sure if I get the use case from what you mention. If you wish to know when the OTP/code has been entered, use the `onChange` handler to detect the same. It is left to the devs to process it and trigger anything else.

[2020-10-02 00:23] Samibanley commented on #17
Can I give this one a try?

[2020-10-02 05:07] darkmatter18 commented on #35
@apollonian Seems like the issue still exists. So, Can I work on it?

[2020-10-02 06:21] sauravsolanki commented on #139
@manjots1607 Please assign me this.

[2020-10-02 06:43] g-ravity opened #153 "Convert class components to functional components with hooks"
This is more of a refactor, than an issue. I was wondering if there was any plan to move to functional React components with hooks. I noticed that the codebase is currently using class components. Functional components would be easier to read, debug and also come with some performance benefits.

[2020-10-02 07:27] apollonian commented on #35
Sure, @darkmatter18. Some work has been done in this direction already. Checkout the https://github.com/devfolioco/react-otp-input/tree/v2 branch (it is out of sync with master — does not contain the latest changes).

[2020-10-02 07:31] apollonian commented on #153
@g-ravity #35 addressees the same issue.

[2020-10-02 07:33] RitikaAg opened #154 "Encode the otp"
- **Add an option for encoding the otp**

- **If the user selects this option the user entered otp will be encoded using shift cipher,if during shift cipher encoding of a digit it exceeds 9 , we will do a modulo by 10**

[2020-10-02 07:48] darkmatter18 commented on #35
@apollonian Thanks. I have one more query. Why using flow. We can use TypeScript for better type support

[2020-10-02 08:19] Binu42 opened #158 "Disable clear button when OTP input field is empty"
**Describe the Feature Request**
currently, the clear button is active even if OTP input fields are empty, which doesn't have any use when the field is empty. not-allowed cursor for disable buttons.
**Describe Preferred Solution**
the clear button should be disabled when the input field of OTP is empty.

[2020-10-02 08:22] manjots1607 commented on #139
I have already done PR to this, but @sauravsolanki you can look into my PR and if you find something missing, you can contributing by giving suggestion in that discussion group.

[2020-10-02 09:20] nirmalhk7 opened #160 "Masking the OTP to improve security"
- **Describe the Feature Request**
 When typing in the OTP, we can provide option to set `masked=true` (will be false by default). So every time you type in a character, its just shown as *****.
- **Describe Preferred Solution**
For eg: 5 6 6 7 will be shown as * * * *
We can also provide user to write their own masking character (character other than *)

[2020-10-02 09:29] #160 closed

[2020-10-02 10:02] karkranikhil commented on #121
Let me fix this

[2020-10-02 10:04] ShubhankarKG opened #162 "Incorrect scripts in README.md"
Hi there, been using this Component for some time now! Awesome work!

There aren't necessary steps here. I suppose the commands were changed but the README wasn't updated.

![Screenshot from 2020-10-02 15-29-53](https://user-images.githubusercontent.com/50791000/94911994-9e3f9400-04c4-11eb-8ecc-a43f13f373c6.png)

![Screenshot from 2020-10-02 15-30-17](https://user-images.githubusercontent.com/5079

[2020-10-02 10:11] dewanshrawat15 commented on #121
@karkranikhil already did. Please refer #123

[2020-10-02 10:38] manjots1607 commented on #139
@apollonian @ajayns Please look this issue.....

[2020-10-02 11:00] codedoc7 commented on #17
I would like to call a function that, when activated by a click, it will .concat the message string of the input box in focus, but I can't get the onFocus or onBlur to work.

[2020-10-02 11:08] codedoc7 opened #165 "Suggestion"
It is called because you run the function in the render method, you should pass function, not what they return.
change -->
onFocus={this._onFocus()}
onBlur={this._onBlur()}
into -->
onFocus={this._onFocus}
onBlur={this._onBlur}

[2020-10-02 11:08] #165 closed

[2020-10-02 11:09] codedoc7 commented on #17
It is called because you run the function in the render method, you should pass function, not what they return.
Change -->
onFocus={this._onFocus()}
onBlur={this._onBlur()}
to this-->
onFocus={this._onFocus}
onBlur={this._onBlur}

[2020-10-02 11:20] deepanshu2506 commented on #17
working on it

[2020-10-02 11:28] neeleshbisht99 commented on #122
I can do this, please assign the same to me

[2020-10-02 11:52] Vishruth-S commented on #154
@RitikaAg  I would like to work on this. Which part of the code can I modify?

[2020-10-02 12:27] saptarshibasu15 commented on #162
Can I work in it?

[2020-10-02 12:33] ankiiitraj commented on #53
working on it! stuck somewhere!

[2020-10-02 12:48] RitikaAg commented on #154
Please assign this to me

[2020-10-02 12:49] RitikaAg commented on #154
I opened this issue so I can work on it😅

[2020-10-02 14:46] apollonian commented on #162
@ShubhankarKG, I think it would be best to just remove these deprecated commands from the README. docz documentation is still in progress so it can be omitted for now.

[2020-10-02 14:52] apollonian commented on #53
@ankiiitraj Let me know how I could helpful!

[2020-10-02 14:53] ShubhankarKG commented on #162
Yeah, figured that one out by spinning up the docz server. I'll fix up the readme then.

[2020-10-02 14:54] apollonian commented on #162
Great, thanks.

[2020-10-02 15:37] Ajaykumbhare commented on #122
#171 I have raised PR please review it and let me know if you need anything from my side

[2020-10-02 16:19] nanipunepalle commented on #35
@apollonian I have migrated all the components following @darkmatter18 pull request including demo app components into functional react-hooks

[2020-10-02 17:13] #117 closed

[2020-10-02 18:29] Sudarshan013 opened #184 "Nice to have UX if input is disabled"
- **Describe the Feature Request**
If the input is disabled, it would be better to show the not-allowed cursor pointer, instead of default on hover

-**Before Making the change**-

![ezgif-3-7c6510242800](https://user-images.githubusercontent.com/39631554/94957337-35c7d580-050b-11eb-9589-4750542331a0.gif)

- **After Making the change**

![after](https://user-images.githubusercontent.com/39631554/9

[2020-10-02 21:41] arc9693 opened #187 "BUG REPORT: isInputNum has no effect if non-numeric values are entered in the form input in demo"
**Steps to reproduce the issue**:
- Check the isInputNum box
- Enter alphabetic values in the "value" input in the sidebar

**Relevant error messages and/or screenshots**:
![ezgif com-gif-maker](https://user-images.githubusercontent.com/36061892/94972060-01adde00-0526-11eb-831a-d9dd502a4341.gif)

[2020-10-02 21:43] arc9693 commented on #187
@apollonian Could you please take a look?
If approved, I would like to work on it.

[2020-10-03 06:13] theWellHopeErr commented on #187
This bug also occurs when a text is pasted on the code box.

**Steps to reproduce the issue:**
1. Check the isInputNum box.

2. Paste an alphabetic text copied from the clipboard in the code boxes.

**Relevant error messages and/or screenshots:**
![ezgif com-gif-maker](https://user-images.githubusercontent.com/35459982/94984778-853eed80-056d-11eb-96e9-44cf106e565b.gif)

I would like to work on thi

[2020-10-03 06:27] theWellHopeErr opened #190 "Bug in pasting or entering a code after the isDisabled checkbox is checked."
When the `isDisabled` checkbox is checked code can be entered by simply pasting the code at the box or entered in the `value` field

**Steps to reproduce the issue:**
1. Check `isDisabled`
2. Click any of the code boxes and paste a text or enter the code in the value input field.

**Relevant error messages and/or screenshots:**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/35

[2020-10-03 08:41] kitarp29 opened #194 "Error in numInputs field"
The **numInputs** field on the site is crafted to prevent the number inserted being grater than **40**
**BUT** it does not Prevent the user from providing String/Alphabets/Symbols etc.
If the maintainer wants I would very much love to work on it
- **Steps to reproduce the issue**:
Type Alphabets/Symbols in the **numInputs** Field
- **Relevant error messages and/or screenshots**:
Prevents for numbe

[2020-10-03 08:57] Parshwa52 opened #195 "Separators should not be letters or numbers.It should be either hyphen,dot or whitespace."
Letters or Numbers doesn't look good as a separator so I would like to work on this issue. Could you assign me?
@apollonian
- **Steps to reproduce the issue**:
Enter any letter or number in the separator field.
- **Relevant error messages and/or screenshots**:
[
![2020-10-03](https://user-images.githubusercontent.com/48866201/94987461-318bce80-0584-11eb-933d-c05fb2c4e9db.png)
](url)

[2020-10-03 10:08] shivanshBTW commented on #115
is the issue closed yet? I would like to work on this

[2020-10-03 10:39] ShivamPrajapati-dev commented on #195
@apollonian I would lke to work on it.

[2020-10-03 10:47] readmey commented on #184
Can I work on this issue?

[2020-10-03 10:51] readmey commented on #158
I could work on this one too

[2020-10-03 10:52] readmey commented on #184
What about using scss instead of css?

[2020-10-03 11:51] ShubhankarKG opened #198 "Improve component props documentation"
- **Describe the Feature Request**
The `docz` documentation can be improved by mentioning what each prop does, and maybe perhaps give an example of each.

- **Describe Preferred Solution**

Divide all props in

1. Required props
2. Optional props

For each optional prop, we can add a react example perhaps.

Followup to #197
PS :- I would like to work on this, once finalized :)

[2020-10-03 13:53] apollonian commented on #198
@ShubhankarKG sure, this would be great!

[2020-10-03 15:09] ankiiitraj commented on #53
I will draft a PR today! Thanks

[2020-10-03 15:12] ankiiitraj opened #200 "Spam PR issue"
This is becoming a serious issue.
People are spamming with PRs.

I propose to have a clear statement on Readme addressing the Spam issue and a warring!

[2020-10-03 15:51] apollonian commented on #154
Hey! This issue is beyond the scope of the component. If you wish to perform any operations on the entered values please use the input handlers and modify state accordingly. Let me know if you need help with this!

[2020-10-03 15:51] #154 closed

[2020-10-03 15:54] apollonian commented on #131
Please let me know if you need more help on this.
Closing this issue & the associated PR since it is beyond the scope of the component.

[2020-10-03 15:54] #131 closed

[2020-10-03 16:21] apollonian commented on #200
The spam has largely subsided as a result of the participation rule updates, so I do not believe a README advisory is needed at the moment. I am actively closing any invalid pull request on the repos, and we have reflected these updated rules in the Devfolio [blog post](https://devfolio.co/blog/devfolio-hacktoberfest-2020/) as well.

[2020-10-03 16:22] #200 closed

[2020-10-03 17:55] Kathuria opened #202 "Add Error Message to display clarification on OTP failure"
- **Describe the Feature Request**
On submission of OTP inputs the result can be success or failure. On sucess, it's just next step what user wants but on failure component should display error message.

- **Describe Preferred Solution**
Error Message should be string value. It should be displayed when hasErrored: true (existing) is passed from props based on their conditions. Component will rende

[2020-10-03 17:55] Kathuria commented on #202
I can work on this issue if this can be a new feature for this component.

[2020-10-03 18:57] nirmalhk7 opened #203 "Automatically Prettify and Lint after every commit using Husky and Lint-Staged"
- **Describe the Feature Request**
Currently we're required to run `npm run format` to prettify the entire code and `npm run lint:fix` to fix the code. However, we can use Husky and lint-staged to automatically format those files which are staged into Git, making it more convenient.

- **Describe Preferred Solution**
We add Husky (which is a git hooks implementation for NodeJS projects) to execute

[2020-10-03 18:59] nirmalhk7 commented on #203
I'd love to implement this issue myself. @apollonian Please let me know. Thanks!

[2020-10-03 19:06] apollonian commented on #203
Sure, this would certainly help a lot!

[2020-10-03 20:31] jaykay12 opened #205 "Bug Report: Not able to edit the otp"
I am not sure whether this is intended functionality or a bug, but would like to bring into the notice.

### OTP Added
![Screenshot from 2020-10-04 01-54-50](https://user-images.githubusercontent.com/13948542/95001179-2cab3700-05e5-11eb-911f-f4cc4325028b.png)

### OTP is editable on first click inside textbox, as the text is getting selected
![Screenshot from 2020-10-04 01-55-08](https://user-imag

[2020-10-04 03:26] A7abhilash commented on #202
I would like to solve this issue.

[2020-10-04 04:17] nirmalhk7 opened #209 "Bug: Error in running docz server"
- **Describe the Feature Request**
Because of the commented portion in `README.md` (from line 72), I get the following error when I run the docz server:

- **Describe Preferred Solution**
To remove the commented portion.

I'd like to work on this issue myself. Please let me know if it's suitable.

[2020-10-04 04:32] nirmalhk7 opened #210 "Implement component within docz's playground"
- **Describe the Feature Request**
From issue #36 it's clear that we're moving to docz for documentation purposes. However, docz also provides functionality to directly embed the component in the documentation, along with the code (see [this](https://www.docz.site/docs/built-in-components). This is something we haven't added yet, and we should.

- **Describe Preferred Solution**
Implement OtpInput

[2020-10-04 16:08] bislara opened #216 "Adding issue labeller and greeting Github action"
- **Describe the Feature Request**
Add issue labeller action to add relevant labels to the issues once created.
Add GitHub action to greet a first-time contributor for an issue or a PR.

- **Describe Preferred Solution**

Adding labelled would help to understand whats the issue is about.
Adding greeting action will encourage the first time contributors to contribute more and more
This can be done

[2020-10-04 20:37] garimasingh128 opened #217 "Absence of proper documentation for the project"
The project is not properly documented in terms of
- PULL REQUEST TEMPLATE
- CONTRIBUTING GUIDELINES
- CODE OF CONDUCT
- ISSUE TEMPLATE

I would like to work on this issue and solve all the documentation issues!

[2020-10-04 21:41] ericblancas23 commented on #2
I can take a look and add any aria-props, or fixes towards violations, will be using deque axe testing platform if you don't mind?

[2020-10-04 23:38] ericblancas23 commented on #2
have added in some color contrasting in the pr as well as creating a landmark for a main. If possible, do you mind adding in the "hacktoberfest-accepted", if participating?, if so that'd be awesome. Hopefully this will help out!

https://github.com/devfolioco/react-otp-input/pull/219

[2020-10-06 16:12] jitinmaher commented on #14
@kunalmhatre @robinmehra95 Can you please check [this pr](https://github.com/devfolioco/react-otp-input/pull/224) for supporting the feature.

[2020-10-06 17:03] BhuwanChandra commented on #67
@apollonian I would like to work on this issue, please assign this to me!

[2020-10-06 18:24] aromalanil opened #225 "Automate the build and deploy of demo"
# Description
This repo has an example site, which can be automatically built and deployed to GitHub pages using Github Action, just like in [devfolioco/react-copy-mailto](https://github.com/devfolioco/react-copy-mailto).

# Solution
Add a workflow file to do the same here.

[2020-10-06 20:47] manjots1607 commented on #139
@apollonian @ajayns Any Updates...????

[2020-10-07 18:28] #162 closed

[2020-10-07 18:44] #158 closed

[2020-10-07 19:17] apollonian commented on #210
This would be great, looking forward to it!

[2020-10-09 06:56] #209 closed

[2020-10-09 07:17] apollonian commented on #202
Thanks for the suggestion! At the moment, it feels a little out of scope to me, but if we get more requests, I'd be happy to bump this up in the priority list.

[2020-10-09 13:58] aromalanil opened #229 "📃 Placeholder docs is missing"
The repo does not contain docs for the `placeholder` prop.

I was the one who contributed the `placeholder` and the docs for it.
But it is not present in the docs now. I don't know what went wrong.

[2020-10-11 11:36] jacobwritescode commented on #113
@dewanshrawat15 setting autocomplete="one-time-code" for input field might help. Referring to https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element
I don't have a real device to give it a try.

[2020-10-11 17:09] kunalmhatre commented on #14
Hey @jitinmaher, nice work, the live demo in your PR looks good to me considering the issue mentioned in this comment https://github.com/devfolioco/react-otp-input/issues/14#issuecomment-676439567. Sorry, but since I opened this PR way back in early 2019 as a user of this repository, I would suggest you to check with the contributors of this repository for any feedback on your PR. All the best! :s

[2020-10-11 17:20] kunalmhatre commented on #14
Hey @jitinmaher, nice work, the live demo in your PR looks like a good solution to me for the issue mentioned in this comment https://github.com/devfolioco/react-otp-input/issues/14#issuecomment-676439567 - I am not sure though if this is exactly what @robinmehra95 wanted, so I think you should check with them as well. Sorry, but since I opened this PR way back in early 2019 as a user of this repo

[2020-10-12 09:53] jitinmaher commented on #14
Hi @robinmehra95 , is this issue still open?

[2020-10-14 09:48] haseena-hassan commented on #98
Is the issue still not done? I would like to take it

[2020-10-18 11:52] Parshwa52 commented on #195
@apollonian
I have worked perfectly on it in PR #199
I also have added a demo video for it.
Can you please review it and get it merged?

[2020-10-20 16:43] yasasvy commented on #118
how to apply styling to the individual default boxes after using OtpInput component?

[2020-10-20 16:45] yasasvy opened #244 "styling"
- **Describe the Feature Request**
how to apply styling to the individual default boxes after using OtpInput component? Like padding, margin or spacing in-between, size and all...?

[2020-10-21 06:08] apollonian commented on #102
@RahulShahUI This issue has been addressed with the latest release: [2.2.0](https://github.com/devfolioco/react-otp-input/releases/tag/v2.2.0). Accessibility report looking better now: https://wave.webaim.org/report#/https://devfolioco.github.io/react-otp-input

[2020-10-21 06:17] apollonian commented on #229
This feature was awaiting release and I had it commented out so as to prevent any confusion.
`placeholder` is now back in the doc with 2.2.0!

[2020-10-21 06:17] #229 closed

[2020-10-21 06:23] apollonian commented on #244
I am actually yet to try this but I believe nth child selectors should help you with styling individual inputs!

[2020-10-21 12:31] user9747 commented on #244
Can't we pass an InputBox component that can override the default box styles. If we are able to give this component the position number of the box, then we can style then individually also.
[code]

[2020-10-24 17:24] K-Kumar-01 commented on #115
@apollonian  @cloudchallengers  I woukd like to work on this issue if it is still open

[2020-10-28 06:07] ARKEOLOGIST commented on #244
I guess that some properties of the child boxes (which are none other than inputs) should be exposed. That would allow styling them separately as well.

[2020-10-28 17:58] imabp opened #250 "Making things modular"
Hi I saw the codebase, and want to make modular specially `src/lib/index.js` It can be broken into different modules as this will help to debug code and make clean code.

I am planning to do this in .. set of few PRs side by side.
Is that fine ?
Please let me know @apollonian  ?

[2020-10-31 07:07] #102 closed

[2020-10-31 10:49] #190 closed

[2020-10-31 10:53] apollonian commented on #115
This feature has been shipped with [v2.3.0](https://github.com/devfolioco/react-otp-input/releases/tag/v2.3.0)!

[2020-10-31 10:53] #115 closed

[2020-10-31 10:55] apollonian commented on #121
The issue has been fixed with [v2.3.0](https://github.com/devfolioco/react-otp-input/releases/tag/v2.3.0)!

[2020-10-31 10:55] #121 closed

[2020-10-31 10:57] apollonian commented on #225
We now have automated deployment to GitHub Pages when pushed to master.
Thank you for working on this @aromalanil! ✌️

[2020-10-31 10:57] #225 closed

[2020-10-31 11:23] Kathuria opened #255 "Placeholder not updating after initial numInputs changes"
I noticed placeholder not working and getting console error - Length of the placeholder should be equal to the number of inputs.

Its working on initial load because default value i.e. numeric 4 is taken but after that changes to string from input fields.

On further analysis, found its broken only when numInputs changed from provided demo fields. The demo although marked to accept "number" but re

[2020-10-31 11:44] #255 closed

[2020-10-31 12:58] apollonian commented on #139
Thanks for the suggestion! At the moment, it feels a little out of scope to me, but if we get more requests, I'd be happy to bump this up in the priority list.

[2020-10-31 13:00] apollonian commented on #217
Closing this issue out now since the linked PR has been merged. Thanks!

[2020-10-31 13:00] #217 closed

[2020-10-31 13:31] apollonian commented on #184
Thanks for the suggestion! But, since we already have a `disabledStyle` prop that can facilitate such behaviour, I don't think it would be a good idea to add a cursor not-allowed style by default since the component is fairly un-opinionated when it comes to input styles.

[2020-10-31 13:31] #184 closed

[2020-10-31 13:34] #195 closed

[2020-11-08 02:23] yasasvy commented on #244
I dont know anybody tried? Because I am really stuck

[2020-11-08 02:23] yasasvy commented on #244
Will this work?

[2020-11-08 09:11] user9747 commented on #244
Not right now. I was suggesting such a feature should added or something like @ARKEOLOGIST  suggested. For now like @apollonian said you might need to use the css nth selector to style each component.

[2020-11-09 17:45] user9747 commented on #244
Not right now. I was suggesting such a feature should added or something like @ARKEOLOGIST  suggested. For now like @apollonian said you might need to use the css nth selector to style each component.

[2020-12-04 11:51] junghyeonsu opened #263 "autofocus first input when clear otp input"
I want autofocus first input when click ```clear``` buttton.
because i use this library as password input.
---
![image](https://user-images.githubusercontent.com/54893898/101158190-b4a5cf80-366e-11eb-831b-c96d48fbe7f6.png)
---
![image](https://user-images.githubusercontent.com/54893898/101158225-c25b5500-366e-11eb-8f58-3b6eae3c6880.png)

i think ```shouldAutoFocus``` works same what i need.
but i

[2020-12-27 21:32] ovbutt opened #265 "Iphone Safari browser does not show typed numbers in OTP input fields."
- **Steps to reproduce the issue**:
1) Open website in Iphones Safari browser
2) Try entering numbers in input fields
3) The fields will take the input but will not show the value in fields.
- **Relevant error messages and/or screenshots**:
-
![WhatsApp Image 2020-12-28 at 2 32 11 AM](https://user-images.githubusercontent.com/31251140/103180158-f6641780-48b4-11eb-9649-472395b913a1.jpeg)

[2020-12-29 13:00] Geetendra1 opened #266 "onKeyPress or onKeyDown feature is not available ."
- **Describe the Feature Request**
I did not see any doc related to onKeyPress  or what so ever . please mention it here if available or add it if possible .
- **Describe Preferred Solution**

[2021-01-04 13:16] svota commented on #265
![image](https://user-images.githubusercontent.com/424767/103538811-50447e80-4e6d-11eb-9c68-4b740c8fe3bc.png)
I'm having this same problem. It is appearing for me on iphones 7, 8, and my ipad in Chrome and Safari.

[2021-01-19 09:48] sudhakar12297pro opened #267 "hasErrored not working"
- **Steps to reproduce the issue**:

- **Relevant error messages and/or screenshots**:

[2021-01-19 11:39] #267 closed

[2021-02-01 14:56] nsisodiya opened #268 "Disable autoComplete"
![image](https://user-images.githubusercontent.com/333455/106474800-45602680-64cb-11eb-9c56-1f22835d580b.png)

since OTP component is created using input element, the browser is by-mistake treating as a field for email automatically try to add email. Since OTP component takes only one char, only first char is shown above.
Since, I don't have control over input element, I cannot add `autocomplete='

[2021-02-04 18:10] spargo-protek commented on #113
Check this fork of this plugin. Everything is already done, you need just to copy it.
https://github.com/untsop/react-otp-input

[2021-02-16 08:48] Usama-Ahmad opened #270 "Not Working On Enter Key"
- As event is not given, onChange method only returns OTP code what should I do if I want to submit it on pressing enter.

[2021-02-16 08:52] Usama-Lintel opened #271 "For Working On Enter Key"
- **As event prop is not given onChange method only returns**

- **Describe Preferred Solution**

[2021-02-16 08:53] #271 closed

[2021-02-16 19:05] jinkleP opened #272 "React otp length"
Hey guys, I need the otp length ,like if my number of input is 6 than after filling all the 6 input i want to return the otp length = 6,
can somebody help how can i achieve this?

[2021-02-21 19:34] jigeshraval commented on #113
is it fixed?

[2021-02-21 19:39] jigeshraval commented on #113
It looks outdated, what exactly you're trying to refer here?

[2021-03-03 12:20] josephtesla commented on #265
I am also experiencing this issue. pls help

[2021-03-03 12:23] ovbutt commented on #265
@josephtesla @svota
One workaround can be you can decrease the font size in case of safari mobile web. This is what I did and it worked for me

[2021-03-10 15:44] gperdomor opened #274 "expose input properties, like onFocus"
- **Describe the Feature Request**
Please add a way to pass some properties to all input fields, this is useful to detect if the input is touched, to trigger validation errors, also should be useful to integrate with formik

[2021-03-15 11:38] manjariParthiban commented on #265
@josephtesla setting 'padding:0' in inputStyle prop works

[2021-03-17 16:07] afkatja commented on #96
+1 on this
To create a snapshot test, we need to add a custom prop `data-test-id` to the element.
But this is just one scenario; actually, it would be nice to have support for other custom additional props.

[2021-03-25 10:16] kerlux opened #275 "It's possibile to paste text with isInputNum=true"
when isInputNum is true it's necessary to disable paste of text in the inputs

[2021-03-28 12:12] RishabhReactJS opened #277 "When providing number type value getting error"
I'm using .TSX file, in that when I'm passing value as number type it's giving error during build time,
 Type 'number' is not assignable to type 'string'.
But in documentation it's mentioned value can be string/number.

- **Steps to reproduce the issue**:

- **Relevant error messages and/or screenshots**:

[2021-03-31 05:19] Dharmadurai95 opened #279 "isInputNum"
- ** I have create a opt field i added isInputNum= true event someone copy paste the text it's accept can you please consider this problem **

- ** <input  onDrop="return false" onPaste="return false" autocomplete=off />
 **

[2021-04-09 10:56] littlefinger42 commented on #270
Wrap your OtpInput in a `<form>` element with onSubmit, then use `<Button type="submit"/>`

https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/submit_event

[2021-04-09 12:08] Usama-Ahmad commented on #270
Totally cool done it already. anyway thanks for helping

On Fri, Apr 9, 2021, 3:56 PM Laurie Copley ***@***.***> wrote:

[2021-04-12 17:29] es1831 opened #280 "Pasting from clipboard on Android"
- **Describe the Feature Request**
Having an issue pasting a code from clipboard on android

https://user-images.githubusercontent.com/8410389/114436022-de2db500-9b92-11eb-9b6a-45bf0624ebcd.mp4

- **Describe Preferred Solution**
should behave the same as pasting, where the numbers are auto-filled once you click on the number

[2021-04-21 10:25] Deexit1 opened #282 "Input Box Style"
- Input boxes should have styling choice:- box/underline

- style choice also have to be an props choice. Developer can make this by adding props to the main component and add the style by choosing the props.

[2021-05-06 14:12] AzurDrive commented on #280
Hello!

Any updates on this?
Cause same problems for iOS / Android auto-paste from SMS - code is not being parsed correctly and only first number is pasted.

[2021-05-19 10:45] DeadEnglish commented on #280
Also running into this issue on Android, pasting from clipboard works but pasting from sms messages doesn't.

[2021-05-20 06:46] Janviba911 commented on #280
I am facing same issue which was posted by @AzurDrive, Please give a solution as soon as possible @ajayns, @apollonian

[2021-05-20 08:23] AzurDrive commented on #280
@DeadEnglish  @Janviba911 yo guys, i can share my "hack" and overall thoughts on this library.
So, you see, ths component renders 4 separate inputs, 1st input is auto-focused (default), and when you try to paste code from sms, it is pasted in this 1st input, but only 1st digit, cause maxLength is 1.
Then all the rest logic - proceed inputing to other 3 inputs - doesnt work here like with pasting f

[2021-05-28 17:59] NOURELsayed commented on #110
I have the same issue and this solution did not work with me, can you help me please?

[2021-05-28 19:59] ingOmarG opened #288 "is this already solved?"
- **Describe the Feature Request**
-is this already solved?
![image](https://user-images.githubusercontent.com/43019586/120036137-47dc1400-bfc5-11eb-937f-a9e885dbe9b7.png)

- **Describe Preferred Solution**

[2021-05-28 20:00] ingOmarG commented on #255
is this already solved?

![image](https://user-images.githubusercontent.com/43019586/120036239-6e9a4a80-bfc5-11eb-82a3-f25d563722cf.png)

[2021-05-29 10:36] apollonian commented on #288
Hey @ingOmarG! This error is shown when the placeholder and input length do not match. For eg, if your input is of the length four, you must have a placeholder string of the same length ("1234", "XBRM", etc).

[2021-05-29 12:41] apollonian commented on #270
Happy to help with other questions you may have!

[2021-05-29 12:41] #270 closed

[2021-05-29 14:04] apollonian commented on #110
@NOURELsayed Could you add a codesandbox repro or show us how your code looks like?

[2021-05-29 20:27] sugamantra opened #290 "Auto filling otp input in safari."
- **Describe the Feature Request**
When OTP sent on a mobile on which otp screen is opened, to fill the otp we need to pass autocomplete property to input html tag as "one-time-code".
- **Describe Preferred Solution**
Provide a prop to be passed to set autocomplete property of input tag.
Refer [link](https://web.dev/sms-otp-form/#:~:text=With%20autocomplete%3D%22one%2Dtime,for%20the%20user%20to%20

[2021-05-30 08:59] NOURELsayed commented on #110
import React, { Component } from "react";
import ReactDOM from "react-dom";
import OtpInput from "react-otp-input";

import "./App.css";

export default class App extends Component {
  state = {
    otp: "",
  };
  render() {
    return (
      <div>
        <OtpInput
          value={this.state.otp}
          onChange={(otp) => console.log(otp)}
          numInputs={6}
          separator={<span>

[2021-05-31 05:54] apollonian commented on #110
@NOURELsayed the `onChange` here should be updating the otp state. `onChange={(otp) => this.setState({ otp })}`. Take a look at the example here pls! https://github.com/devfolioco/react-otp-input#basic-usage

[2021-05-31 10:07] apollonian commented on #110
@NOURELsayed Might be 'cause of the syntax errors. Check this out: https://codesandbox.io/s/otp-test-22vgt

[2021-06-02 14:54] rtrembecky commented on #118
Hey, I have the same issue. In my case, I want to pass className from the Material UI styling solution (`useStyles`/`makeStyles`) to `inputStyle` props, but I can't override the `width` in my class, because it is always passed into `style` of the `<input>` elements.
So either the `style` should not be applied when there is a className in `inputStyle`, or there should be a prop to turn the default

[2021-06-05 05:38] apollonian commented on #118
@rtrembecky Considering something along similar lines for the next major release! Eliminating the limitations that `inputStyle` brings by doubling as a className prop is something to be addressed too. So, I'm thinking we could split it into `inputStyle` and `inputClassName`, where the `inputStyle` prop only takes a CSS style object and `inputClassName` applies class names to the input(s).

[2021-06-10 07:43] rake7h commented on #290
Facing the same. @sugamantra did you find any workaround?

[2021-06-12 09:13] nadeghi commented on #110
Add higher width value for inputStyle

[2021-06-12 15:27] Mohammad-Bilal-Bhatti opened #292 "BUG REPORT: When isInputSecure check is opened(true) with combination of isInputSecure keyboard changes from numeric to text-input"
- **Describe the Feature Request**

Feature request for correct keyboard appearance

- **Describe Preferred Solution**

Should open numeric keyboard when isInputSecure & isInputNum both checks are open(true)

[2021-06-19 13:57] ascode94 opened #294 "dependency error>Not working with react 17"
I just want to install this package and i got dependency error:

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: x@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"17.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.2.0" from react-otp-input@2.3.1`

i us

[2021-06-19 13:57] alireza-sharifpour opened #295 "dependency error: Not working with react 17"
I just want to install this package and i got dependency error:

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: x@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"17.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.2.0" from react-otp-input@2.3.1`

i us

[2021-06-19 13:58] ascode94 commented on #294
Sorry i just pressed enter twice!

[2021-06-19 13:58] #294 closed

[2021-06-24 03:45] vidhyeshpatil opened #297 "Need option to change the border color of focus"
- **Describe the Feature Request**

Currently not able to change / override the border color on focus i.e. "focusStyle" - Default it's blue color.

- **Describe Preferred Solution**

focusStyle - give the option to override the same

[2021-06-24 04:20] #96 closed

[2021-06-29 04:53] darkmatter18 commented on #295
Same here

[2021-07-09 07:01] debjits1 opened #300 "Page automatically scrolls because of focus to the next element"
In iOS devices, I am facing this issue. I am using react-otp-input inside a material-ui dialog. Whenever I add a new number in the input, it focuses on the next input, and the page in the background auto scrolls. Also, the dialog flickers a lot on the same event.
This happens becuase the focus method automatically try to scroll to element. Is there a way we can stop the autoscroll on focus?

- **S

[2021-07-21 23:53] roguemaps commented on #110
Just in case someone comes across this looking for the simple format with functional components -

`const App = () => {
  const [otp, setOtp] = useState("");
  return (
    <OtpInput
      value={otp}
      onChange={setOtp}
      numInputs={6}
      separator={<span>-</span>}
      inputStyle="foo"
      isInputNum
    />
  );
};`

[2021-08-23 06:31] roshan-p commented on #300
@debjits1 Have you fixed it ?

[2021-08-23 18:07] mansiarora055 opened #302 "How to change the background color of filled input fields in react-otp-input"

[2021-08-23 18:36] #302 closed

[2021-08-25 16:28] matthewdfleming commented on #113
I just wrote the fix for this to support the mobile devices.. Give it a look.

[2021-08-31 05:20] EdwardMovsesyan91 commented on #295
Same here

[2021-09-02 18:46] pradeea opened #304 "How to Style the Input Container"
- **Describe the Feature Request**
How to style the Input Container i couldn't see how to style this i have checked docs but im disappointed that i couldn't find how to style the input container
- **Describe Preferred Solution**

[2021-09-03 06:49] parthasn opened #305 "Disable onpaste"
Even if I have chosen isInputNum as true, on pasting characters still get pasted. If you could add a functionality to stop pasting it would be helpful.

[2021-09-06 05:05] TheAhmadSami commented on #297
Just change the outline not the border

[2021-09-08 07:25] RajuSuranagi commented on #297
Setting `focusStyle={{ outline: 'none', border: '2px solid #05DEBA', borderRadius: '8px' }}` works. But why do I need to mess with the outline if all I want is border?

[2021-09-09 19:18] TheAhmadSami commented on #297
Because outline is a default css property for inputs, checkboxes, buttons and other html tags. So you **must** overwrite it's value even when you just work with borders.

[2021-09-11 06:26] emran-jatri opened #306 "Backspace delete specific input field and stay on it"
Backspace delete specific input field and stay on it. I see many issues and pull requests in this git, but after solving this issue git and npm are not updated? I need solved things right now, can someone please help me with how to do that? when I click on backspace it should work like the delete button on the keyboard. thanks you

[2021-09-13 16:54] daryl-07 commented on #295
Same here (2)

[2021-09-17 11:17] kchakraborty-94 opened #307 "Make aria label dynamic"
- **Describe the Feature Request**
- The aria label for the input is hardcoded as **Please enter verification code.** . This should be a dynamic value.

- **Describe Preferred Solution**
- The aria label should be passed as a prop. The prop should be optional. If passed, should be used, otherwise should fall back to the current one

[2021-09-22 18:51] pragati9 commented on #295
same issue

[2021-09-28 08:38] avinash-wissen commented on #295
same issue

[2021-10-03 16:35] EmmanuelAmodu commented on #295
Temporary fix https://www.npmjs.com/package/react-otp-input-rc-17
`npm i react-otp-input-rc-17`

[2021-10-14 08:36] denishrana09 commented on #270
For those, who don't want to show the button, simply add css, `display: none` to the button

[2021-11-09 12:33] JPStrydom commented on #295
Could we not simply bump the peer dependencies to:
[code]
?

[2021-11-10 10:37] PRANAVBHATIA1999 commented on #122
Do we have the fix?

[2021-11-10 13:59] dankolt commented on #113
Is it the same problem https://github.com/devfolioco/react-otp-input/issues/280?

[2021-11-17 12:38] carryall opened #315 "Make test id dynamic"
- **Describe the Feature Request**
  - To support [overridden test id attribute](https://testing-library.com/docs/queries/bytestid/#overriding-data-testid) name

- **Describe Preferred Solution**
  provide another attribute for custom test attributes
[code]
  then the test attribute added to the input like `data-test='input-otp-0'`, `data-test='input-otp-1'`, `data-test='input-otp-2'`, `data-test=

[2021-11-17 12:42] carryall commented on #290
Does a workaround with a hidden input with `autoComplete="one-time-code"` and an onChange function to sync the value from the hidden input to the OTP input works? 💭

[2021-11-28 16:51] Deevoid opened #317 "Update React dependencies to v17"
**The React version should be updated from v16 to v17.**

[2021-11-28 16:52] #317 closed

[2021-11-29 08:48] rajeshindium commented on #266
when can I accept this feature

[2021-12-02 06:50] v4irajvimu opened #318 "How to add additional attributes to input field."
- **Describe the Feature Request**
- How can i add additional attributes to input elements like **inputmode="numeric"**

- **Describe Preferred Solution**

[2021-12-02 07:14] v4irajvimu commented on #19
how to resolve this

[2021-12-02 08:12] Rahulantino opened #319 "How to clear input"
- **Describe the Feature Request**

- **Describe Preferred Solution**

[2021-12-03 07:02] nigranac opened #320 "Index control"
- **Describe the Feature Request**
I want to check the index of the boxes created in the component
I should be able to enter my value in the active box

![otps](https://user-images.githubusercontent.com/66658536/144597732-36c46c5a-8c79-49bd-a6b0-d7674816d28f.gif)

- **Describe Preferred Solution**
a special hook can be thrown

[2021-12-07 18:06] mwaseem1614 opened #321 "how can i change the color of higligted input?"
- **Describe the Feature Request**

- **Describe Preferred Solution**

[2021-12-10 14:04] markni opened #322 "Autofill OTP from SMS does not work properly in iOS Chrome"
- **System used**:
  - iOS: 15.1.1
  - Chrome: 96.0.4664.53

- **Steps to reproduce the issue**:

1. open react-otp-input demo in iOS Chrome
2. send yourself an OTP code via SMS
3. once received the code, tap on 1st input box and tap "From Messages 123456" on top of the keyboard
4. only 1 digit of the 6 digits code has been copied.  The OTP input focused on the second input box.

- **Relevant erro

[2021-12-11 12:13] dsmalicsi commented on #322
I experience the same issue on Android 12

[2021-12-12 08:33] #319 closed

[2021-12-13 06:40] prograk opened #323 "Gboard’s clipboard suggestions feature not working properly with React Otp Input"
- **Describe the Feature Request**

When you copy OTP from sms and it shows in Gboard top as suggestion and when you click on it, doesn't get pasted in React Otp Input boxes.

- **Describe Preferred Solution**

When clicked on suggestion it should fill all boxes like how it happens in normal copy paste.

![photo_2021-12-13 12 09 52](https://user-images.githubusercontent.com/20883002/145764344-f7cf

[2021-12-13 13:56] markni commented on #322
After some debugging:
- Chrome on iOS does not fire "onPaste" event when using SMS autofill
- all codes are set by a single "onInput" event,  but since the input field has attribute "maxLength=1", only the first code is saved.

potential solution would be remove maxlength,  and when onInput target value has length >1,  trigger the same slice and split logic of the onPaste event.

[2021-12-14 05:12] htutwaiphyoe opened #324 "Input Delete"
- **Describe the Feature Request**
When user delete input, it should be focus on deleted input, not previous one.

[2021-12-14 22:07] #320 closed

[2021-12-15 07:16] shivakrishna17 commented on #263
Did u found any solution for this??....As i am creating an application, when the user enters invalid input, i am setting it to empty, but the autoFocus is staying at last box.

[2021-12-15 07:42] #324 closed

[2021-12-16 00:20] vitorbertolucci commented on #274
This would also be useful to pass a `name` prop to allow extensions like 1Password autofill the input when it appears.

[2021-12-20 16:19] LuisValgoi commented on #113
@matthewdfleming @dankolt @jigeshraval how did you guys solved this?

[2021-12-20 16:38] LuisValgoi commented on #280
@AzurDrive can you share the code?

[2021-12-20 17:57] LuisValgoi commented on #113
# WARNING

For all of you that will eventually face this:

Since the repo it's not maintained anymore, I had to copy the original implementation + fix the autocomplete bug issue.

Check below the details:

# USAGE

[code]

# IMPLEMENTATION

[code]

[2021-12-28 11:27] aKshayKadam03 opened #327 "Keyboard layout auto switches from numbers to characters in mobiles."
When we try to enter the OTP in mobiles. The keyboard layout auto switches from Number to Characters/Alphabets layout because the OTP component re-renders on every input.

The above issue can be reproduced on the official demo link.
i.e https://devfolioco.github.io/react-otp-input/

#### Steps to reproduce:
* Open the link in mobile phone.
* Switch to number keyboard.
* Add a number
* The keyboard

[2021-12-28 13:00] therealdrtroll commented on #327
Please check the following clip:
https://www.loom.com/share/eadc9d07d36a4211b758464a356bc6ba

* Reproduced on:
   * Phone: Nokia 6.1 plus
   * OS: Android 10

* Also reproducible on iOS 15.2

[2021-12-29 06:51] shahid7292 commented on #266
Anything on this feature

[2022-01-04 09:56] KranthiJulakantiNiro commented on #323
Facing same issue

[2022-01-05 20:49] Tushar-Maity opened #328 "Update of the peer dependency package from v16 to v17"
The React version should be updated from v16 to v17.

[2022-01-10 10:40] patilniranjan7 commented on #266
I need same for capture On Press Enter

[2022-01-11 06:01] ashishbakingo commented on #110
Otp is not working on a functional component. As I type inside the box, the value does not get filled in but the cursor keeps moving to the next box. I have also provided the value prop. I don't even see the console.log() that is inside my handleChnage() function.

My code:

import React, { useState } from "react";
import OtpInput from "react-otp-input";

export default function Step3(props) {
  c

[2022-01-15 07:45] realiarthur commented on #321
If you mean "focused input" you can provide css-class to `focusStyle` prop with `.cssclass:focus { /*your style*/ }`

[2022-02-14 08:40] keshikashviligio opened #334 "shouldAutoFocus does not work on "ubuntu Mozila Firefox""
Firefox:
![image](https://user-images.githubusercontent.com/6962834/153828823-bb1ef7f2-281e-4a08-a61c-592f4b4ddb81.png)
Chrome:
![image](https://user-images.githubusercontent.com/6962834/153829074-2bbe2e1a-a114-4703-b1f7-4b2b1e727d08.png)

[2022-02-24 17:28] Kiran636 commented on #327
use attribute
 isInputNum={true}

[2022-02-25 06:41] aKshayKadam03 commented on #327
The OTP has both alphabets and numbers. So can't fix it to just numbers.

[2022-03-09 04:56] SandeshKandukuri commented on #328
For me, its showing error that react version of react-otp-input is v16, and my project is of v17, is there any solution to this?

[2022-03-09 15:53] Mehran91z commented on #328
+1 for update your React dependency version to 17.
Thanks.

[2022-03-25 03:36] LanhNguyen97 commented on #300
@debjits1 Have you fixed it?

[2022-03-26 15:20] debjits1 commented on #300
No, still did not find any solution

[2022-04-06 13:52] tomery11 commented on #322
I am still experiencing the issue. does anyone have a solution for it?
Thanks!

[2022-04-07 10:48] hrithik73 opened #341 "focusInput(0) not working after render"
What I am trying to do:-
I want to click on the label to get focus on the first input field

How I am Doing?
I am using useRef and accesing `focusInput()` function with arguement  `0`

Expected Behavior:-
It should focus on the first input
Current Behavior:-
0th Input does not get the focus after rendering but after any changes in any input It works
1,2,3 inputs works fine i want the first one to

[2022-04-09 05:34] markni commented on #322
@tomery11 don't think this repo is actively maintained, you could try the change I linked in the fork above and just use the modified file directly in your projects.

[2022-04-15 05:13] mdsadiq commented on #118
@apollonian is this change already in the release ? is it something that we could contribute ?

[2022-04-20 08:39] harishydav commented on #341
@hrithik73  It seems to be working just fine.

I came here looking for finding a way to find a way to programmatically focus.
Stumbled across your Codesandbox and realized the code sandbox is actually a good example to learn how to `focusInput`.

So I guess you can close the issue yourself.
Since you anyways invested effort in creating this you can probably contribute that as an example of `focusI

[2022-04-21 06:42] hrithik73 commented on #341
I think on the first render it doesn't work as expected, The expected behavior is to focus on the first input when you click on the label but after some focusing on any input field if you click on the label it works fine as expected

[2022-04-22 09:19] harishydav commented on #341
@hrithik73  have you tried `shouldAutoFocus` this will focus the opt-boxes on first render

[2022-04-25 05:37] hrithik73 commented on #341
Yeah , But i need auto focus when clicked on label

[2022-04-25 08:18] kwanso-ahsaanShuja commented on #322
worked for me thanks

[2022-05-10 08:48] askariacc commented on #328
Is there any update on it?

[2022-05-11 08:09] sgarchavada commented on #323
Any update on this one

[2022-05-11 08:29] KranthiJulakantiNiro commented on #323
Check this out
https://github.com/devfolioco/react-otp-input/issues/113#issuecomment-998148875
@sgarchavada

[2022-05-12 05:45] kandukuriSandesh commented on #328
"react-otp-input-rc-17": "^2.4.1-minor", install this dependency , this is for v17

[2022-05-13 17:07] askariacc commented on #328
Why is this package linked to the actual repo?
Where is the appropriate source code?

[2022-05-17 09:32] vivek0046 commented on #341
any updates on this ?
i am also facing the same issue

[2022-05-17 12:06] sgarchavada commented on #113
@LuisValgoi I just implement your code, its not woking on my ios device in chrome browser

[2022-05-17 12:45] hrithik73 commented on #341
Sadly No :( ,
Our requirement has changed and I dropped the project

[2022-05-20 05:21] Joojo7 commented on #306
@emran-jatri Did you find a solution to this?

[2022-05-20 05:28] Joojo7 opened #346 "Backspace button doesn't work properly"
The backspace button doesn't remove the previous number on the first press, it only selects the previous number. Is there a fix for this or can this be fixed?
![Screenshot 2022-05-20 at 1 25 17 PM](https://user-images.githubusercontent.com/30333594/169457003-70e2fe87-af51-4712-86ac-0c633fb577a8.png)

[2022-05-23 07:30] Sean-Y-X commented on #328
React18 now. Pls.

[2022-05-28 13:34] MshHooman commented on #139
+

[2022-06-14 02:10] Amethystafyy282 commented on #341
I've a workaround
[code]

[2022-06-27 15:39] hrithik73 commented on #341
It's a good workaround but the UX will not be good as it shows the pointer moving from 2nd position to 1st in real-time.

[2022-06-30 06:23] EEBK99 opened #349 "data-testid and data-cy is not working!"
I am using react-otp-input which has 'data-testid' and 'data-cy' props for testing purpose. I am using cypress for testing but when i use one of these two props it cannot get that id.

I am using it in next.js typescript project.

[2022-06-30 07:19] #349 closed

[2022-07-05 01:22] mukhammadalime opened #350 "Please make the package work for v18."
npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: react-otp-input@2.4.0
npm ERR! Found: react@18.1.0
npm ERR! node_modules/react
npm ERR!   react@"^18.1.0" from the root project
npm ERR!   peer react@"^18.0.0" from @testing-library/react@13.3.0
npm ERR!   node_modules/@testing-library/react
npm ERR!     @testing-library/react@"^13.3.0" from the root proj

[2022-07-06 12:38] YunusEmreAlps opened #351 "The component is not mobile-friendly"
- **Describe the Feature Request**
- I used this component in my project but it is not mobile-friendly.
![Screenshot (455)](https://user-images.githubusercontent.com/44679555/177551320-3ec2fc0d-5bf3-4aa6-bbd6-b6409ce1d3f9.png)
![Screenshot (457)](https://user-images.githubusercontent.com/44679555/177551329-f9a165f8-4ffd-4fd6-9340-44eb50fc4eb8.png)

- **Describe Preferred Solution**
I think this pr

[2022-07-07 22:18] MahdiMhqq commented on #350
see https://github.com/MahdiMhqq/react18-otp-input

[2022-07-09 13:50] Mominadar commented on #304
Hi, you can use the `containerStyle` prop to style the whole container. For styling individual inputs, use `inputStyle` prop.

[2022-07-13 09:44] AnkitDhoot opened #352 "How to use onKeyDown?"
How can I use onKeyDown feature in this component for submitting the OTP?

[2022-07-19 13:06] shubham-saxena-pdgt commented on #113
@LuisValgoi https://www.npmjs.com/package/react-otp-input-2

[2022-07-19 13:08] shubham-saxena-pdgt commented on #323
https://www.npmjs.com/package/react-otp-input-2

[2022-07-20 06:49] Govindsa421 opened #353 "Issues in android device while entering number in OTP field screen is flickering"
- Ios device entering the number in input it is working well on both  web and mobile view
-  But in android device its work on only web  view not in mobile view while entering the number the input are flickering on page. but some android device is working this things like Samsung device.

please help me to fix this problem

[2022-07-20 07:49] NareshItla commented on #290
@ajayns , @apollonian  Can u check this once need help on this feature. @carryall , @sugamantra  did u guys get any solution for this issue. I am also facing same.

[2022-07-20 14:09] detailswes opened #355 "shouldAutoFocus not working"
- **Describe the Feature Request**

- **Describe Preferred Solution**

[2022-07-21 03:31] edwin-tandiono commented on #353
Are you using chrome mobile? This seems to happen due to that "password bar" with the key icon that appears there.

From what I understand, the whole document is being re-rendered on input change, and the password bar is not detected immediately on re-render. Once it was detected, the document abruptly shrinks its height. This is what causing the down-up bounce of the input.

The solution that com

[2022-07-21 14:16] matheus1lva opened #356 "onchange not triggering if content does not have selection"
![react-otp-error](https://user-images.githubusercontent.com/831308/180235850-63084726-ad9b-474e-830d-ce339869019b.gif)

As you can see, if user types something, but removes the selection on the content, user cannot type anything aside from that.

[2022-07-24 07:12] zafar-abba-s commented on #353
Having same issue in andriod, please help me to fix this

[2022-08-06 07:27] 1496-rajeev commented on #353
facing same issue on android only on chrome browser

[2022-08-09 17:17] ritikbanger commented on #352
The feature is vailable in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:17] ritikbanger commented on #351
The feature is vailable in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:17] ritikbanger commented on #350
The feature is vailable in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:17] ritikbanger commented on #346
The feature is vailable in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:19] ritikbanger commented on #341
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:20] ritikbanger commented on #328
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:20] ritikbanger commented on #323
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:20] ritikbanger commented on #322
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:20] ritikbanger commented on #318
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:20] ritikbanger commented on #315
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:20] ritikbanger commented on #307
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:21] ritikbanger commented on #306
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:21] ritikbanger commented on #305
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:21] ritikbanger commented on #304
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:22] ritikbanger commented on #300
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:22] ritikbanger commented on #297
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:22] ritikbanger commented on #295
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:22] ritikbanger commented on #290
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:22] ritikbanger commented on #288
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:23] ritikbanger commented on #282
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:23] ritikbanger commented on #280
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:24] ritikbanger commented on #279
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:24] ritikbanger commented on #277
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:24] ritikbanger commented on #275
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:24] ritikbanger commented on #266
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:24] ritikbanger commented on #265
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:24] ritikbanger commented on #263
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-09 17:24] ritikbanger commented on #198
The feature is available in: https://www.npmjs.com/package/react18-input-otp

[2022-08-10 07:44] umeshiscreative commented on #353
Facing same issue on iOS device with safari browser.

[2022-08-10 15:21] antondev22 commented on #121
@apollonian
I checked v2.3.0 but the autoComplete issue is still not resolved.

![image](https://user-images.githubusercontent.com/88622133/183942604-64707c3f-5c6f-40ab-8b4e-fe65d846a580.png)

![image](https://user-images.githubusercontent.com/88622133/183942717-d5fe1852-987f-40d9-ad60-14b966f94e22.png)

I couldn't find the autoComplete props.

[2022-08-10 15:24] antondev22 commented on #322
@ritikbanger
I am currently working on React v17 code.
So, my question is if I can use the above module which means the react18-input-otp.

[2022-08-10 17:00] ritikbanger commented on #322
@antondev22 The codebase supports every version up to React 18.1. It will work well. Let me know if you face any issue.

[2022-08-11 11:24] abhisheksarwan commented on #322
@ritikbanger Works well. However on iOS chrome when you click on the OTP that pops up above the keyboard it only pastes the 1st digit in the otp box. The same issue mentioned in this post. Can you please help?

[2022-08-11 16:09] ritikbanger commented on #113
@LuisValgoi @matthewdfleming The code does not work when you work with iOS on chrome. Any workaround on the same. PRs are welcomed at https://github.com/ritikbanger/react18-input-otp

[2022-08-12 04:54] #341 closed

[2022-08-16 20:26] CodeNinja96x opened #359 "Auto upgrade to be compatible with latest react versions"
- **Describe the Feature Request**
    please make the package compatible to latest React version, please find below the error encountered, while trying to install the
 package for react 17.0.2
![image](https://user-images.githubusercontent.com/17404158/184977983-5d9b4d17-e2b1-4160-b1b3-0269e92fad0e.png)

- **Describe Preferred Solution**
- can have a auto-upgrading script that updates the package

[2022-08-17 02:22] nmaddp1995 commented on #359
I face the same issue @@.
--force seem not a good work around for it

[2022-08-17 17:23] ritikbanger commented on #322
Fixed in the latest version.

[2022-08-18 04:25] vuau commented on #322
I've just tested the demo site [devfolioco.github.io/react-otp-input](http://devfolioco.github.io/react-otp-input) on Chrome browser on iOS 15.5. The issue is still there.

[2022-08-18 04:52] ritikbanger commented on #322
@vuau The demo for React18-input-otp is here: [Codesandbox](https://codesandbox.io/s/react18-input-otp-0nxzx7?file=/src/App.js)

I am talking about the new package: https://www.npmjs.com/package/react18-input-otp

[2022-08-18 05:39] vuau commented on #322
I tested your codesandbox url as well and the result is still the same. Only first number is pasted, the rest is blank.

[2022-08-18 05:51] ritikbanger commented on #322
Please try again. The sandbox was pointed to an older version, I have updated it. @vuau

[2022-08-18 05:55] vuau commented on #322
Thx. It worked this time. Btw do you know which PR/commit has been made to fix this issue?

[2022-08-18 06:04] ritikbanger commented on #322
Please install: https://www.npmjs.com/package/react18-input-otp
Latest version v1.1.0 has this as fixed.
Repo: https://github.com/ritikbanger/react18-input-otp

[2022-08-22 07:55] mnshsingh2011 commented on #322
But react18-input-otp doesn't has resend OTP feature like otp-input-react. And in OTP-input-react, I am still having problems while pasting the OTP in IOS, only the first digit is copying

[2022-08-22 09:05] ritikbanger commented on #322
Please create another button to re-send the OTP. Simply add a button and hit the resend OTP API onClick. This feature has nothing to do with taking the OTP as input,

@mnshsingh2011

[2022-08-29 06:39] ujjwal-shrivastava commented on #255
I think this issue is not resolved yet please author look into this.....

[2022-08-29 06:45] ujjwal-shrivastava commented on #255
Try this:-

 <OtpInput
                        onChange={handleChange}
                        value={otp}
                        placeholder="----"
                        numInputs={4}
                        isInputNum={true}
                        inputStyle={{
                          color: "black",
                          width: "2.5rem",
                          height: "3rem",

[2022-08-31 14:28] bhautikagile opened #361 "How to style filed input style"
when I'm trying to add style in filed input's parent div, can't put style style on filed input or parent div. Show how to add style on filed input

[2022-09-26 07:54] vijayasekharreddyp commented on #302
Do we have such an option?

[2022-10-11 20:35] ayushsarode opened #363 "I wanna add Contributing.md file"

[2022-10-13 09:46] chincodes commented on #353
I found this issue while testing on android phone in chrome browser
. Working fine on desktop browsers.

[2022-10-26 07:07] Kritika0035 commented on #361
May I do this?

[2022-10-26 07:10] Kritika0035 commented on #282
I want to do this. May I?

[2022-10-29 15:37] irtaza9 opened #364 "react-otp-input css"
- **I was facing an issue while adding styles in the component but then I just tried a little bit may be this will help others**

[code]

[2022-10-29 15:38] irtaza9 commented on #364
Closing this as this is just for others so that they can use it

[2022-10-29 15:38] #364 closed

[2022-11-01 17:18] Ripudaman4742 commented on #361
There is prop called inputStyle, you can pass your values over there

[2022-11-02 13:38] sagarsinha-code opened #366 "Add dynamic value for aria-lable <OTPinput>"
I want to change the value of aria-lable for input tag. Unfortunately not able to do so because its not getting passed as a props and its value is hardcoded.

Any solution for this will be helpful.
Thanks

[2022-11-03 14:57] Mahi-edward opened #367 "How to handle pasted value prevent"
- **Describe the Feature Request**
The documetation i don't know the onPaste will be added.
- **Describe Preferred Solution**
Create onPaste Event in props.

[2022-11-07 04:23] shtbik commented on #295
You can resolve it manually in the `package.json` with the [overrides](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) rule for `npm` (^8) or with `resolutions` for `yarn`:

**NPM example:**
[code]

[2022-11-07 05:15] ritikbanger commented on #295
Hello @shtbik Please go with this new package: https://www.npmjs.com/package/react18-input-otp

[2022-11-09 09:00] hung2003attack opened #369 "npm i react-otp-input"
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: client@0.1.0
npm ERR! Found: react@18.2.0
npm ERR! node_modules/react
npm ERR!   react@"^18.2.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.2.0" from react-otp-input@2.4.0
npm ERR! node_modules/react-otp-input
npm ERR!   react-otp-input@"

[2022-11-09 09:01] hung2003attack commented on #369
I can't install

[2022-11-09 12:06] jashenco commented on #369
Use yarn add react-otp-input

[2022-11-10 07:35] kvraamkey commented on #369
@hung2003attack if you're in NPM try as below

`rpm i react-otp-input --legacy-peer-deps`

[2022-11-14 00:43] pacarvalho commented on #369
Is this library still accepting pull requests and updating the NPM registry? It would be great to update the peer dependencies...

[2022-11-17 17:00] Rutvij07 commented on #322
We are also facing the same issue in chrome browser. Any solution will be appriciated.

[2022-11-18 05:40] ritikbanger commented on #322
@Rutvij07 Please move to this package: https://www.npmjs.com/package/react18-input-otp

[2022-11-18 05:46] Rutvij07 commented on #322
@ritikbanger can't we do without package ? This issue is also coming in our react native webview for IOS device.

[2022-11-18 05:59] ritikbanger commented on #322
@Rutvij07 the package has handle all the edge cases, if you wish to do it without package, try your own implementation.

Though the minzipped size of the package is just 3.6kb. Remove your current otp package and install this: https://www.npmjs.com/package/react18-input-otp

You only need to change the imports, other code things would remain the same. Pretty small refactors.

[2022-11-22 07:09] Mouaadouk opened #371 "Autofill OTP from SMS does not work properly Chrome"
System used:

iOS: 15.1.1
Chrome: 96.0.4664.53
Steps to reproduce the issue:

open react-otp-input demo in iOS Chrome
send yourself an OTP code via SMS
once received the code, tap on 1st input box and tap "From Messages 123456" on top of the keyboard
only 1 digit of the 6 digits code has been copied. The OTP input focused on the second input box.

[2022-11-24 05:59] mohitTecorb opened #372 "OTP is not visible in i-phone"
- **Describe the Feature Request**

- **Describe Preferred Solution**
otp is not visible in i-phone ,but working fine in android and laptop

[2022-11-24 09:54] Rutvij07 commented on #322
I read the logic from **react18-input-otp** repo  and added this code rather than installing whole module. It worked for me.

Assume

`otp = 1234`
`numInputs = 4`

<img width="596" alt="Screenshot 2022-11-24 at 3 22 07 PM" src="https://user-images.githubusercontent.com/26310976/203752992-469d7fcf-68aa-4bef-861c-b1534ff1c1cb.png">

Reference - https://github.com/ritikbanger/react18-input-otp/blob/m

[2022-11-24 11:45] ritikbanger commented on #322
@Rutvij07 There are over 60 open issues with the current package, I would recommend to move from it to a better one.

[2022-11-24 14:26] dariohirsch commented on #280
Hi! any update on this issue? Im facing the same problem. Thanks!!